<style>
    th{
        color: red;
        padding: 10px;

    }

    td{
        padding: 10px;
        border: 1px solid blue;
        text-align: center;
    }

</style>
<div class="container">
    <h1 style="text-align: center">Welcome Admin</h1>
    <a style="text-align: center" href="/adminactive" class="btn btn-primary">Show all active users</a>

    <table>
        <tr>
            <th>Sno.</th>
            <th>Branch</th>
            <th>Count</th>
        </tr>
        <tr>
            <td>1</td>
            <td>CSE</td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>IT</td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>ECE</td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>EEE</td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>MECH</td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td>CIVIL</td>
            <td></td>
        </tr>

    </table>

</div>