<style>
    .admin-form {
border: 3px solid #f1f1f1;
background-color: white;
}


input[type=text].admin-input, input[type=password].admin-input{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

button .btn-admin-setts {
background-color: red;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

button .btn-admin-setts:hover {
opacity: 0.8;
}


/* Center the avatar image inside this container */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
background-color: white;
}

/* Avatar image */
img.avatar {
width: 40%;
border-radius: 50%;
}

.container-own-admin {
padding: 16px;

}

</style>
<section class="admin">
    <form class="admin-form" method="post" action="/adminhome">
        <div class="imgcontainer">
            <img src="adminuser.png" alt="Avatar" class="avatar">
        </div>
        <div class="container-own-admin">

            <label for="username">Username</label>
            <input class="admin-input" type="text" id="username" name="username" placeholder="Enter Username" required>

            <label for="password">Password</label>
            <input class="admin-input" type="password" id="password" name="password" placeholder="Enter Password" required>


            <button class="btn btn-dark btn-admin-setts" type="submit">Login</button>

        </div>
    </form>
</section>
