<style>
    .first{
        text-align: center;
    }
</style>
<div class="first" style="background-color:#F7F7F7; box-shadow:2px 1px;">
    <div class="container pt-4 mb-5">
        <br>
        <h2 style="font-weight: bold">Career</h2>
        <br>
        <h6>Follow jobs, maintain resumes and track applications.</h6>
        <br>
       <div class="row justify-content-center">
           <div class="col-2"><a style="font-weight: bold;font-size: 20px" href="/jobs"> <button class="btn btn-dark">Jobs</button> </a></div>
           <div class="col-2"><a style="font-weight: bold;font-size: 20px" href="/internships"> <button class="btn btn-dark">Internships</button> </a></div>

       </div>
        <br>
    </div>
</div>