
<style>
    .first {
    text-align: center;
    }
    .second {
        margin-left:9%;
    }
    .card{
        box-shadow: 2px 2px;
        color:grey;
    }
</style>

<div class="first" style="background-color:#F7F7F7; box-shadow:2px 1px;">
<a class="container">
<h1>Jobs</h1>
<h5>Jobs posted by your fellow Alumni</h5>
    <a href="/jobs/postajob"> <button class="btn btn-danger"> Post a new Job</button></a>
<br><br><br>
<select class="form-control form-control-sm" style="width:500; margin-left:27%;">
  <option default>Department</option>
  <option >Department1</option>
  <option >Department2</option>
  <option >Departmen3</option>
  <option >Department4</option>
  <option >Department5</option>
  
</select>
<br>
<button class="btn" >Submit</button>

<br><br><br>
</div>
</div>
<div class="second">
    <div class="container">
       
<h5 style="text-align:right;">jobs</h5>
<br>
 <div class="row">
<div class="card" style="width: 18rem; margin-left:2rem; margin-bottom:2rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="card" style="width: 18rem; margin-left:2rem; margin-bottom:2rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="card" style="width: 18rem; margin-left:2rem; margin-bottom:2rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="card" style="width: 18rem; margin-left:2rem; margin-bottom:2rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="card" style="width: 18rem; margin-left:2rem; margin-bottom:2rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="card" style="width: 18rem; margin-left:2rem; margin-bottom:2rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
</div>
</div>