
    <title>jobsection</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/job_select.css">

<section id="jobsection">
    <div class="jobtop">
        <div class="jobdetail">
            <p class="fresherheading">
                Fresher Architect
            </p>
            <p class="fresheraddress">
                a f f i r m DESIGN STUDIO | 451, Urban Estate Phase-1, Jalandhar, Punjab, 144022
            </p>
            <p class="salary">Salary: ₹ 10,000 - 15,000 per year</p>
            <p class="experience">Experience: 1 yrs</p>
            <p class="objective">Design</p>
        </div>

        <div class="jobbuttons">
            <p class="jobtext">
                 7 alumni applied to this job
            </p>
            <button class="applybutton btn btn-dark">Apply</button>
            <button class="sharebutton btn btn-dark">Share</button>
            <button class="Follow btn btn-dark">Follow</button>
        </div>

    </div>

    <div class="jobbottom">
        <div class="jobdesc">
            <p class="descheading">
                Detailed Job Description
            </p>
            <h6 class="jobfunction">
                Functions/Responsibilities
            </h6>
            <p class="para1">
                There is an urgent requirement of a Fresher Architect at <span>Affirm Design Studio</span>
            </p>
            <h6 class="skills">
                Skills required
            </h6>
            <p class="para2">
                Highly creative with good knowledge of AutoCAD, Google Sketchup and good presentation skills.
            </p>
            <h6 class="domainwork">
                Domain of work
            </h6>
            <h6 class="otherdetail">
                Other Details
            </h6>

        </div>

        <div class="jobpersonalinfo">
            <p class="jobname">
                a f f i r m DESIGN STUDIO
            </p>
            <label class="followjob">Follow a f f i r m DESIGN STUDIO for future opportunities
                <input type="checkbox" class="followjob">
            </label>
            <p class="postby">
                Posted by
            </p>
            <img class="imgtag" src="" alt="image">
            <p class="personname">
                Raminder Kaur
            </p>
            <p class="personqualification">
                M-Tech [part time] executive 2017
            </p>
        </div>
    </div>
</section>
