
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <div class="first" style="text-align: center ;background-color:#F7F7F7; box-shadow:2px 1px;">
        <div class="container mt-4">
            <h5 class="pt-4 mb-0">
                <span><a href="/careers"> Career center </a> </span>
                <span > /</span>
                <span> <a href="/internships"> Internship</a></span>
                <span> / </span>
                <span>Add</span>
            </h5>
            <br>
            <h2>POST AN INTERNSHIP</h2>
            <br>
            <h6>Let your fellow alumni know of an opportunity at a company you are associated with.</h6>
            <br>
            <br>
        </div>
    </div>
    <!--Post a Job Heading -->
    <div class="container-fluid mt-4">
        <div class="row justify-content-center p-3">
            <div class="col-12 col-sm-10 col-md-8 ">
                <!--Main-->
                <form id="msform" method="post" action="/postinternship">
                    <div class="row">
                        <div class="col-12 col-sm-6 mt-1 mb-2">
                            <label >* Job Title / Position / Designation</label>
                            <input type="text" name="jobTitle" placeholder="Eg. Salesman, Engineer">
                        </div>
                        <div class="col-12 col-sm-6 mt-1 mb-2">
                            <label >* Company</label>
                            <input type="text" placeholder="" name="company">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 mt-1 mb-2">
                            <label >* Location</label>
                            <input type="text" placeholder="Eg. Delhi Noida Gurugram" name="locaton">
                        </div>
                        <div class="col-12 col-sm-6 mt-1 mb-2">
                            <label >Last Date of Application </label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 mt-1 mb-2">
                            <label >Start Date</label>
                            <input style="width: 100px" type="number" name="startDate">
                            <!--<span style="margin: 0 10px"> To</span>-->
                            <!--<input style="width: 100px" type="number">-->
                        </div>
                        <div class="col-12 col-sm-6 mt-1 mb-2">
                            <label >Duration </label>
                            <input style="width: 100px" type="number" name="duration">

                            <!--<span style="margin: 0 10px"> To</span>-->
                            <!--<input style="width: 100px" type="number">-->
                        </div>

                    </div>
                    <div class="row">
                        <!--<div class="col-12 col-sm-6 mt-1 mb-2">-->
                        <!--<label >* Domain </label>-->
                        <!--<input type="text" name="domain">-->
                        <!--</div>-->
                        <!--<div class="col-12 col-sm-6 mt-1 mb-2">-->
                        <!--<label >Send Applications To  </label>-->
                        <!--<input type="text">-->
                        <!--</div>-->
                        <div class="col-12 col-sm-6 mt-1 mb-2">
                            <label >Work Type </label>
                            <input type="text" >
                        </div>
                    </div>
                    <!--Input Box -->
                    <div class="row justify-content-center mt-3 p-3">
                        <div class="col-12 col-sm-8 m-2"> <label >Detailed Description</label></div>
                        <div class="col-12 col-sm-8">
                            <div class="row justify-content-center">
                                <div class="col-12" style="border-top: 2px solid black ;">
                                    <div class="row justify-content-center " style="border: 0.5px solid rgba(0,0,0,0.1)">
                                        <div class="col btn p-2"><i class=" fas fa-bold"></i> </div>
                                        <div class="col btn"><i class="fas fa-italic"></i> </div>
                                        <div class="col btn"><i class="fas fa-underline"></i> </div>
                                        <div class="col btn"><i class="fas fa-text-height"></i> </div>

                                    </div>
                                </div>
                                <div class="col-12 p-0" style="border: 0.5px solid rgba(0,0,0,0.1)">
                                    <div class="" align="left" style="height: 300px;text-align: left">
                                            <textarea rows="5" cols="100"  style="height: 300px; margin: 0;text-align: left;width: 100%">Functions/Responsibilities &#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;Skills Required&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;Other Details&#13;&#10;
                                            </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-2 p-2">
                            <button class="btn btn-info p-2 m-2" style="width: 75px;font-size: 18px;font-weight: 200">Post</button>
                        </div>
                        <div class="col-2 p-2">
                            <button class="btn btn-danger p-2 m-2" style="width: 75px;font-size: 18px;font-weight: 200">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>