<script>
    function scrollup() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;    }
</script>
<style>
    .footerheadings{
        color: black;
        font-weight: bold;
    }
    .social-links{
        color: skyblue ;
    }
    #footer-social-icons a{
        padding: 5px;
        color: inherit;
        text-decoration: none;
    }
    #footer-social-icons i {
    margin-right: 5px;
    }
    .inputbox-setts{
        border: none; border-bottom: 1px whitesmoke solid;
        background-color: transparent;
    }
    .inputbox-setts:focus{
    }
    #contactusform label{
        padding: 4px;
        margin-right: 10px;
        font-size: 20px;
        font-weight: normal;
    }
</style>
<!--<footer>-->
    <!--<div class="ml-3 mr-3 pt-3" style="background-color: #ba0b14;display: block">-->
        <!--<div style="display: inline-block;width: 200px;height: 100%;">-->
            <!--<img src="public/files/logo-adgitm-small2.jpg" width="100%">-->
        <!--</div>-->
        <!--<div style="display: inline-block; width: 400px;margin:10px 30px">-->
        <!--<div style="display: inline-block;width: 300px; margin:10px 30px">-->

            <!--<p>ADGITM College-->
                <!--<br>-->
                <!--Address-->
                <!--<br>-->
                <!--New Delhi-->
            <!--</p>-->

        <!--</div>-->
        <!--<div class="social-nav" style="display: inline-block">-->
            <!--<a href=""> <i class="fa fa-phone"></i> 9838173788 </a>-->
            <!--<a href=""><i class="fa fa-user"></i> Email </a>-->
            <!--<a href=""><i class="fa fa-map-marker"></i> Map and Directions </a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a href=""><i class="fab fa-facebook"></i> </a>-->
            <!--<a href=""><i class="fab fa-twitter"></i> </a>-->
            <!--<a href=""><i class="fab fa-linkedin"></i> </a>-->
            <!--<a href=""><i class="fab fa-instagram"></i> </a>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="footer-nav-links" style="display: inline-block;width: 200px;" >-->
            <!--<a href="">Contact us</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</footer>-->
<div class="container-fluid pb-5" style="background-color:  #bc0404;color: white">
    <div class="row justify-content-center mt-0 mr-5 pt-5 ml-5 pb-2"style="border-bottom: 2px solid black">
        <div class="col-12 col-sm-5">
          <div class="row">
          <div class="col-4 pr-0 pt-2 pl-3" align="right">  <img src="files/Adgitm_new_logo.png" width="100%"></div>
          <div class="col-7 pl-0">
              <div class="row pl-2 pt-3">
              <div class="col-12"><h5 class="footerheadings">ADGITM College</h5></div>
                  <div class="col-8"><h6>FC-26, Shastri Park, New Delhi - 110 053</h6></div>
              <div class="col-12 mt-1 p-1">
                 <div class="row justify-content-start" id="footer-social-icons" >
                     <div class="col-6" align="left">
                         <a href=""> <i class="fa fa-phone"></i> 9838173788 </a>
                     </div>
                     <div class="col-6">   <a href=""><i class="fa fa-user"></i> Email </a>
                     </div>
                     <div class="col-8"> <a href=""><i class="fa fa-map-marker"></i> Map and Directions </a>
                     </div>
                 </div>

              </div>
          </div>
          </div>
          </div>
        </div>
        <div class="col-3">
            <div class="row pt-1">
                <h4 class="pl-3 pr-3 mb-0 pb-0 footerheadings">Social Links</h4>
            </div>
            <div class="row">
                <div class="col-12 pt-2">Connect With Facebook</div>
                <div class="col-12 pt-2">Connect With Gmail</div>
                <div class="col-12 pt-2">Connect With LinkedIn</div>
            </div>
            <div class="row mt-2"><h4 class="pl-3 pr-3 mb-0 pb-0 footerheadings">Privacy Policy</h4></div>
            <div class="row">
                <div class="col-12 pt-2">About Us</div>
                <div class="col-12 pt-2">Terms And Conditions</div>
            </div>
        </div>

        <div class="col-12 col-sm-4">
            <div class="row justify-content-center" >
                <div class="col-12"><h4 class="mb-0 pb-1 footerheadings">Contact us</h4></div>
                <div class="col-12"  id="contactusform">
                    <form>
                       <div class="col-10 pl-0 mt-1 mb-2">
                           <input class="input-group-text" type="text" placeholder="Name">
                       </div>
                        <div class="col-10 pl-0 mt-1 mb-2">
                            <input class="input-group-text" type="email" placeholder="Email">
                        </div>
                        <div class="col-10 pl-0 mt-1 mb-1">
                            <textarea class="input-group-text" style="overflow-x: auto;resize: none" type="text" placeholder="Message" rows="2" cols="22" ></textarea>

                        </div>
                        <div class="col-10 pl-0 mt-1 mb-2">
                            <input class="btn btn-dark" type="submit">
                        </div>

                    </form>
                </div>
            </div>
        </div>


    </div>
<div class="mt-1 row justify-content-center">
    <div class="col-1 btn" onclick="scrollup()">
           <i style="font-size: 40px;color: rgba(0,0,0,0.8)" class="fas fa-chevron-circle-up"></i>
    </div>

</div>
</div>