<footer id="footer" align="center">
        <div class="container">
            <div class="info">
                <h5 class="info-title">
                    Browse
                </h5>
                <nav class="info-links">
                    <ul>
                        <li><a href="">By Search</a></li>
                        <li><a href="">By Map</a></li>
                        <li><a href="">By Resources</a></li>
                        <li><a href="">Your College Coordinator</a></li>
                    </ul>
                </nav>
            </div>


            <div class="info">
                <h5 class="info-title">
                    About
                </h5>
                <nav class="info-links">
                    <ul>
                        <li><a href="">About ADGITM</a></li>
                        <li><a href="">ADGITM - Office Bearers</a></li>
                        <li><a href="">ADGITM - Alumni Chapters</a></li>
                        <li><a href="">Contact Us</a></li>

                    </ul>
                </nav>
            </div>
            <div class="info">
                <h5 class="info-title">
                    Contact Us :
                </h5>
                <nav class="info-links">
                    <ul>
                        <li><a href="#email">adgitm@gmail.com</a></li>
                        <li><a href="#phone">8472892848</a></li>
                        <li><a href="#mainaddress">FC-26, SHASTRI PARK,</a></li>
                        <li><a href="#address"> New Delhi, Delhi 110053</a></li>
                    </ul>
                </nav>
            </div>

            <div class="info">
                <h5 class="info-title">
                    Privacy Policy
                </h5>
                <nav class="info-links">
                    <ul>
                        <li><a href="">Terms of use</a></li>
                    </ul>
                </nav>
            </div>

            <div class="copyright">
                <p>2018 copyright@ADGITM Alumni</p>
            </div>

        <div id="endoffooter"></div>
        </div>
    </footer>