<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../public/Bootstrap/dist/js/jquery-3.2.1.js"></script>
    <link href="../../public/Bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <script src="../../public/Bootstrap/dist/js/bootstrap.js"></script>
    <link href="../../public/Bootstrap/dist/css/font-awesome.css" rel="stylesheet">
<link href="../../public/css/searchby_R_directory.css" rel="stylesheet">
    <style>
        ul li{
            width: 450px;
        }
    </style>
</head>
<body>
<div class="first" style="background-color:#F7F7F7; box-shadow:2px 1px;">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-6 p-3" style="font-size: 20px">
                <span><a href="" style="color: deepskyblue;font-weight: bold;letter-spacing: 2px">All</a> </span>
                <span><i class="fa fa-arrow-right"></i> </span>
                <span> Branch </span>
            </div>
        </div>
        <br>
    </div>
</div>
<div class="container-fluid mt-3 mb-4 ml-3">
    <div class="row pr-5 pl-5 pt-5 pb-1">
        <div class="col-10 ml-2 pl-2" style="font-size: 25px;font-weight: 200;font-family: Roboto;border-bottom: 1px solid rgba(0,0,0,0.1)">Branch List</div>
    </div>
    <div class="row ml-3 pb-5 pr-5 pl-5 pt-2">
        <div class="col-12">
            <ul>

                <li title="CSE">
                    <a href="/resources/branch/CSE">
                        <div class="clearfix">
                            <p class="resource_name">Computer Science And Engineering</p>
                            <p class="resource_count">1069</p>
                        </div>
                    </a>
                </li>

                <li title="IT">
                    <a href="/resources/branch/IT">
                        <div class="clearfix">
                            <p class="resource_name">Information Technology</p>
                            <p class="resource_count">1020</p>
                        </div>
                    </a>
                </li>

                <li title="ECE">
                    <a href="/resources/branch/ECE">
                        <div class="clearfix">
                            <p class="resource_name">Electrical And Communication Engineering</p>
                            <p class="resource_count">920</p>
                        </div>
                    </a>
                </li>

                <li title="MECH">
                    <a href="/resources//branch/MECH">
                        <div class="clearfix">
                            <p class="resource_name">Mechanical Engineering</p>
                            <p class="resource_count">850</p>
                        </div>
                    </a>
                </li>

                <li title="EEE">
                    <a href="/resources//branch/EEE">
                        <div class="clearfix">
                            <p class="resource_name">Electrical And Electronics Engineering</p>
                            <p class="resource_count">1251</p>
                        </div>
                    </a>
                </li>

                <li title="CIVIL">
                    <a href="/resources//branch/CIVIL">
                        <div class="clearfix">
                            <p class="resource_name">Civil Engineering</p>
                            <p class="resource_count">743</p>
                        </div>
                    </a>
                </li>



            </ul>
        </div>
    </div>
</div>
</body>
</html>
<!---->