
    <title>ABOUT ADGITMA</title>
    <link rel="stylesheet" href="css/More_pages/about_ADGITM.css">
<section id="aboutADGITMA">
    <div class="aboutcontainer">
        <div class="aboutheading">
            <h2>Dr. Akhilesh Das Gupta Institute of Technology and Management Alumni Association</h2>
        </div>
        <div class="aboutdescription">
            <ul>
                <li>Dr. Akhilesh Das Gupta Institute of Technology & Management (ADGITM) formerly known as Northern India Engineering College (NIEC), New Delhi was established by BBDES, LUCKNOW in the year 2003.</li>
                <li>The ADGITM Alumni Association helps in bringing together the alumni community on a common platform to build another channel of personal and professional support to members through 'self-help' within community.</li>
                <li>The Association aims to keep the Alumni connected to the University via events, guest lectures, reunions and networking opportunities.</li>
                <li>It also keeps the Alumni updated and informed of the University's news, current events and alumni reunions, and helps them to participate in the proceedings of the Alumni Association.</li>
                <li>It promotes and fosters mutually beneficial interaction among the Alumni as well as between Alumni and the present students of ADGITM.</li>
                <li>It also honours the distinguished Alumni and provides a forum for the alumni for exchange of ideas and views on educational, cultural, social and academic affairs of the day</li>
            </ul>
        </div>
    </div>
</section>