<style>
    .aboutcontainer{
        margin: 30px 90px;
        padding: 10px;
        height: 80%;
        background-color: rgba(0,0,0,0.1);
        box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    }

    .aboutimage img{
        width: 100%;
        height: 320px;
    }

    .aboutheading{
        text-align: center;
        color: darkred;
        font-size: 1.5em;
        padding-bottom: 20px;
        margin-top: 20px;

    }

    .aboutadgitm h3{
        font-size: 1.5em;
        margin-top: 10px;
        margin-left: 7px;
        margin-bottom: 10px;
    }

    .aboutadgitm p{

        text-align: justify;

    }

</style>
    <link rel="stylesheet" href="css/More_pages/about_ADGITM.css">
<section id="aboutADGITMA">
    <div class="aboutcontainer">
        <div class="aboutimage">
            <img src="files/volunteer_images/niecbuilding.jpg" alt="">
        </div>
        <div class="aboutheading">
            <h2 style="font-weight: bold">Dr. Akhilesh Das Gupta Institute of Technology and Management Alumni Association</h2>
        </div>
        <div class="aboutdescription">
               <div class="aboutadgitm">
                   <h3 style="font-weight: bold">ABOUT AKHILESH DAS GUPTA INSTITUTE OF TECHNOLOGY AND MANAGEMENT</h3>
                   <p>Dr. Akhilesh Das Gupta Institute of Technology & Management (ADGITM) formerly known as Northern India Engineering College (NIEC), New Delhi was established by BBDES, LUCKNOW in the year 2003. ADGITM has an aesthetically designed campus spread over approximately 9 acres of lush green environment at Shastri Park. The Campus comprises of five interconnected blocks covering a built up area of approx. 3.0 Lac sq, ft. ADGITM offers following Under Graduate and Post Graduate level full time Professional programs approved by AICTE in affiliation with Guru Gobind Singh Indraprastha University (GGSIPU), Delhi.</p>
                   <h3 style="font-weight: bold">ABOUT ADGITM ALUMNI</h3>
                   <p>The ADGITM Alumni Association helps in bringing together the alumni community on a common platform to build another channel of personal and professional support to members through 'self-help' within community.
                       The Association aims to keep the Alumni connected to the University via events, guest lectures, reunions and networking opportunities.
                       It also keeps the Alumni updated and informed of the University's news, current events and alumni reunions, and helps them to participate in the proceedings of the Alumni Association.
                       It promotes and fosters mutually beneficial interaction among the Alumni as well as between Alumni and the present students of ADGITM.
                       It also honours the distinguished Alumni and provides a forum for the alumni for exchange of ideas and views on educational, cultural, social and academic affairs of the day</p>
               </div>
        </div>
    </div>
</section>