
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/More_pages/privacypolicy.css">

<section id="privacy-policy">
    <div class="section-title">
        <h2>Privacy Policy</h2>
        <p>Last updated: <span>[Nov 1, 2018]</span></p>
    </div>



   <ol type="I">
       <li>
           <div class="container">
               <div class="text-title">
                   <h4>INTRODUCTION</h4>
               </div>
               <div class="text">
                   <p>ADGITM respects your privacy and is committed to protecting it through our compliance with this policy.</p>
                   <p>This Privacy Policy (“Policy”) describes the types of information we may collect from you or that you may provide when you use ADGITM's website, services, and application (collectively “Services”) and our practices for collecting, using, maintaining, protecting, and disclosing that information. This Policy does not apply to information collected by any third party, including through any application or content (including advertising) that may link to or be accessible from or on ADGITM’s Services.</p>
                   <p>Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our Services. By accessing or using ADGITM’s Services, you agree to this Policy. This Policy may change from time to time (see Changes to our Privacy Policy). You will be provided notice of this change, and continuing to use the Services after receiving notice will constitute acceptance of the changes.</p>
               </div>
           </div>
       </li>

       <li>
           <div class="container">
               <div class="text-title">
                   <h4>TERMS</h4>
               </div>
               <div class="text">
                   <ol type="1">
                       <li>
                           <p><span>Information We Collect About You.</span> ADGITM' collects several types of information. Such information is utilized in providing an efficient and effective experience to all users. When we provide the Services to you, your data is stored on our computers and servers. In some cases, the data may be accessible to people involved with the operation of the site (administration, sales, marketing, legal, system administration) or external parties (such as third party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, as necessary, as Data Processors by us. ADGITM collects the following information:</p>
                           <ul style="list-style-type:disc " >
                               <li>
                                   <p>Personal Information, which includes information through which you may be personally identified, such as name, postal addresses, email addresses, IP address, social media website user account names, telephone numbers, companies you may be associated with, education, employment history, or other addresses at which you receive communications from or on behalf of ADGITM ("Personal Information");</p>
                               </li>
                               <li>
                                   <p>Non-Personal Information, which includes information that alone cannot be used to identify or contact you. Such Non-Personal Information may include, but is not limited to; browser information and details; operating system information; mobile device information; pages accessed; times of visit; and referring websites, applications, or services, including the relevant search queries that led you to our Services (“Non-Personal Information”);</p>
                               </li>
                               <li>
                                   <p>Collectively, Personal Information and Non-Personal Information shall be referred to as “Information.”</p>
                               </li>
                           </ul>
                       </li>

                       <li>
                           <p><span>Method of Collecting Information.</span> ADGITM collects Information in two ways: (1) Information you provide directly; and (2) Information we receive from your use of our Services</p>
                           <ul style="list-style-type: disc">
                               <li>
                                   <p>Information is collected when you:</p>
                               </li>
                               <li>
                                   <p>Send ADGITM any electronic communication (including via email or any other application);</p>
                               </li>
                               <li>
                                   <p>Enter contests run by us from time-to-time;</p>
                               </li>
                               <li>
                                   <p>Create a user account;</p>
                               </li>
                               <li>
                                   <p>Connect other online accounts with your ADGITM account, such as Facebook or LinkedIn;</p>
                               </li>
                               <li>
                                   <p>Submit online applications and forms to ADGITM; and</p>
                               </li>
                               <li>
                                   <p>Subscribe to newsletters.</p>
                               </li>
                           </ul>
                           <p>If you use a social media platform or your mobile device (or other methods of communication) to interact with ADGITM, the communication method or application may have a specific and independent privacy policy that governs the use of Personal Information.</p>
                       </li>

                       <li>
                           <p><span>Information Automatically Collected.</span> When you use our Services, we may collect certain information as described below to improve our Services, troubleshoot bugs, provide the Services, manage the Services, track usage, and provide content for referring traffic sources. Such information may include: IP address; profile information; aggregate user data; preferences; technical session information; browser type; information about your computer, hardware, software, or mobile device, including a device identifier; demographic information including zip code; and navigational data including log files, server logs, clickstream data, and language preference. User IP addresses are recorded for security and monitoring and for providing services. If you arrived at our website via a link from another webpage, we may receive aggregate or otherwise anonymous statistical information about your visit to our site. We monitor customer traffic patterns and site usage to help us develop the design of the site, and to improve the content of our website to better match the interests of our website users. We may combine this automatically collected and other Non-Personal Information with Personal Information, in which case we will treat the combined information as Personal Information under this Privacy Policy.</p>

                       </li>

                       <li>
                           <p><span>How We Use Your Information.</span>We use Information collected about you or that you provide to us, including any Personal Information, to:</p>
                           <ul style="list-style-type: disc">
                               <li>
                                   <p>Operate and improve our website and Services;</p>
                               </li>
                               <li>
                                   <p>Provide Services to you;</p>
                               </li>
                               <li>
                                   <p>Track and analyze your use of our Services;</p>
                               </li>
                               <li>
                                   <p>Provide customer support, including support to our vendors or business partners;</p>
                               </li>
                               <li>
                                   <p>Communicate and provide additional information that may be of interest to you about ADGITM, our merchants, and our business partners, such as news, offers and coupons, announcements, and other relevant materials;</p>
                               </li>
                               <li>
                                  <p>Send you reminders, notices, updates, security alerts, support and administrative messages, service bulletins, or marketing materials;</p>
                               </li>
                               <li>
                                   <p>Administer contests or any promotional activities or events sponsored by us;</p>
                               </li>
                               <li>
                                   <p>Manage our everyday business needs, such as website administration, fulfillment of orders, analytics, fraud detection and prevention, compliance with the law or reporting obligation, or enforcement of our Terms of Service; and</p>
                               </li>
                               <li>
                                   <p>Aggregate anonymous data from our Services used to benchmark, analyze, and improve the Services.</p>
                               </li>
                           </ul>
                           <p>If you do not want to be on our mailing list, you can opt out anytime by sending an email to  info@niecdelhi.ac.in or clicking on the "unsubscribe" button on our communications. From time to time, we may use your Personal Information to send important notices to you regarding material changes to our terms, conditions, and policies or purchased services which you may not opt out of receiving.</p>
                       </li>

                       <li>
                           <p><span>Disclosure of Your Information.</span>We may disclose Personal Information that we collect or you provide as described in this Policy:</p>
                           <ul style="list-style-type: disc">
                               <li>
                                   <p>To our service providers, which provide services for us including but not limited to sending emails on our behalf, processing payments, providing analytics services and helping us provide services as requested by users. Our service providers are bound by law or contract to protect Personal Information and are only allowed to use Personal Information in accordance with the terms of our service agreements with them. We do NOT share, sell, rent, or trade Personal Information with third parties for their own promotional purposes, and we will only share Personal Information as outlined herein or with your consent.</p>
                               </li>
                               <li>
                                   <p>We may also disclose your Personal Information: (1) To comply with any court order, law, or legal process, including to respond to any government or regulatory request; (2) To enforce or apply our Terms of Services and other agreements, including for billing and collection purposes; and (3) If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of ADGITM, our customers, or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.</p>
                               </li>

                           </ul>
                       </li>
                       <li>
                           <p><span>Accessing and Correcting Your Information</span>ou have the right to know whether your Personal Information has been stored and can consult with ADGITM about any Personal Information to verify the accuracy of such Information and receive a copy thereof. You have the right to have the Information supplemented, erased, updated, or corrected. For its transformation into anonymous format or to block any data held in violation of the law, requests should be sent to us by email at  info@niecdelhi.ac.in. We will retain your information for as long as your account is active or as needed to provide you Services, conduct our internal operations, and to maintain a record of your transactions for financial reporting purposes. All Information will also be retained and used, as necessary, to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>
                       </li>
                       <li>
                           <p><span>Data Security.</span>The security of your Personal Information is important to ADGITM. We have implemented reasonable administrative, technical, and physical security measures designed to secure and protect your Information from accidental loss and from unauthorized access, use, alteration, and disclosure. HOWEVER, as the transmission of information via the internet is not completely secure, we cannot guarantee the security of information transmitted to our Services. Any transmission of Personal Information is at your own risk.</p>
                       </li>
                       <li>
                           <p><span>Children’s Personal Information.</span>We do not knowingly collect or solicit Personal Information from anyone under the age of 16. If you are under 16, please do not attempt to register for the Services or send any Information about yourself to us. Parents and legal guardians are encouraged to monitor the activities of their wards in this regard. If we learn that we have collected Information from a child under age 16, we will delete that Information as quickly as possible. If you believe that a child under 16 may have provided us Information, please contact us at  info@niecdelhi.ac.in.</p>
                       </li>
                       <li>
                           <p><span>"Do Not Track" Disclosures.</span>“Do Not Track” is a standard that is currently under development. As it is not yet finalized, ADGITM adheres to the standards set out in this Privacy Policy and does not monitor or respond to Do Not Track browser requests</p>
                       </li>
                       <li>
                           <p><span>Changes to our Privacy Policy</span>ADGITM reserves the right to update this Policy from time to time. ADGITM will notify you of any changes and/or modifications to the Policy by updating the “Last Modified” date on this Policy, sending an electronic communication detailing the changes, posting a notification on the Services, or as required by law. Any changes or modifications will be effective immediately upon posting the updated Policy on ADGITM’s Services. You are encouraged to periodically review this Policy to stay informed of updates. Your continued use of ADGITM’s Services after receipt of such revised Policy will be deemed an acceptance of the revised Policy.</p>
                       </li>












                   </ol>
               </div>
           </div>
       </li>
       <li>
           <div class="container">
               <div class="text-title">
                   <h4>CONTACT INFORMATION</h4>
               </div>
               <div class="text">
                   <p>To ask questions or comment about this Privacy Policy and our privacy practices, contact us at:</p>
                   <br>
                   <p> info@niecdelhi.ac.in</p>
                   <br>
                   <br>
                   <br>
               </div>
           </div>
       </li>
   </ol>


</section>
