
    <title>termsofuse</title>
    <link rel="stylesheet" href="css/More_pages/termsofuse.css">

<section id="termsofuse">
    <div class="section-title">
        <h2>Terms of Use</h2>
        <p>Last updated: <span>[Nov 1, 2018]</span></p>
    </div>
    <div class="introduction">
        <p style="margin: 5px 50px">
            By using the ADGITM alumni website you agree to be bound by the following terms and conditions ("Terms of Use"). This agreement is personal to you; it cannot be assigned or transferred. If any provision of this agreement is invalid or unenforceable under applicable law, the remaining provisions will continue in full force and effect.
        </p>
    </div>
    <div class="container">
        <ul>
            <li>
                <div class="heading">
                    <p>Your Acceptance</p>
                </div>
                <div class="desc">
                    <p>
                        By using and/or visiting the ADGITM alumni Website you signify your agreement to:
                    </p>
                    <ul style="list-style-type: disc">
                        <li>
                            <p>These terms and conditions (the "Terms of Use"); and</p>
                        </li>
                        <li>
                            <p>The ADGITM privacy policy, which is incorporated here by reference.</p>
                        </li>
                    </ul>

                    <p>If you do not agree to any of these terms, or the privacy policy, please do not use this Website. Nothing in this Agreement shall be deemed to confer any third-party rights or benefits.</p>
                </div>

            </li>
            <li>
                <div class="heading">
                    <p>Website</p>
                </div>
                <div class="desc">
                    <p>These Terms of Use apply to all users of the Website, including users who are contributors of content and other materials or services on the Website. The term Website shall be understood to include all aspects and services of the ADGITM alumni Website, including but not limited to all products, software and services offered via any website such as the blogs, groups, clubs, directories, discussion boards, job boards, mentor platforms, messaging, social and professional networking, photo and video uploading, commenting, mailing lists, and other applications.</p>

                    <p>The Website electronically publishes news and information that may include facts, views, opinions and recommendations of individuals and organizations deemed of interest to alumni. ADGITM does not review, monitor, verify or guarantee the accuracy, completeness or timeliness of or otherwise endorse information provided by any organization or individual, give advice or advocate the purchase or sale of any product or service not directly offered by ADGITM or its affiliates.</p>

                    <p>The Website may include unmoderated forums containing the personal opinions and other expressions of the persons who post entries on a wide range of topics. The text and other materials on these Website are the opinion of the specific author and are not statements of advice, opinion, or information of ADGITM.</p>

                    <p>The Website may contain links to third-party websites that are not owned by, affiliated with or controlled by ADGITM. ADGITM has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party websites not directly affiliated with ADGITM. In addition, the Website will not and cannot censor or edit the content of any non-affiliated third-party site. By using the Website, you expressly release ADGITM from any and all liability arising from your use of any third-party website.</p>
                </div>

            </li>
            <li>
                <div class="heading">
                    <p>Your Account</p>
                </div>
                <div class="desc">
                    <p>In order to access some features of the Website, you will have to create an account. By creating an account you agree to these Terms of Use and thereby agree to use of the Website in a manner consistent with all applicable laws and regulations and in accordance with the terms and conditions set out in the policies and guidelines outlined here. Please note that you will be referred to as "User" from time to time in this Agreement. You may never use another's account. Your User account may not be shared, transferred, or sold to other parties. When creating your account, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your account, and you must keep your account password secure. You must notify ADGITM immediately of any breach of security or unauthorized use of your account. Although ADGITM will not be liable for your losses caused by any unauthorized use of your account, you may be liable for the losses of ADGITM or others due to such unauthorized use.</p>
                </div>

            </li>
            <li>
                <div class="heading">
                    <p>Rules for Online Conduct</p>
                </div>
                <div class="desc">
                    <p>You agree to use the Website in accordance with all applicable laws. Because ADGITM is a nonprofit, tax-exempt organization, you agree that you will not use the Website for organized partisan political activities or commercial purposes. You further agree that you will use all of the services or information provided on the Website in accordance with the rules of conduct set forth below. This includes interactions with other users by email, web post, postal mail, or phone.</p>
                    <div class="subheading">
                        <p>
                            Prohibited conduct:
                        </p>
                        <ul style="list-style-type: disc">
                            <li>
                                <p>Posting content that defames or threatens others</p>
                            </li>
                            <li>
                                <p>Posting statements that are bigoted, hateful or racially offensive</p>
                            </li>
                            <li>
                                <p>Posting content that infringes another's intellectual property, including, but not limited to, copyrights, trademarks or trade secrets. When quoting copyrighted material, please adhere to the Electronic Frontier Foundation's Fair Use Guidelines</p>
                            </li>
                            <li>
                                <p>Posting material that contains obscene language or images</p>
                            </li>
                            <li>
                                <p>Advertising or any form of commercial solicitation</p>
                            </li>
                        </ul>
                    </div>
                    <p>Statements or postings that violate the above terms will be deleted from the Website upon discovery. Copyrighted material, including without limitation software, graphics, text, photographs, sound, video and musical recordings, may not be placed on the Website without the express permission of the owner of the copyright of the material, or other legal entitlement to use the material. Any person posting material protected by copyright for the benefit of any third-party represents and warrants consent or permission has been obtained to post such materials. Although ADGITM does not screen or monitor content posted by users to the Website, ADGITM reserves the right to remove content that violates the above rules of which it becomes aware.</p>

                    <p>You may not attempt to use or distribute tools designed for compromising security or take any action to compromise the security of this site. Examples of these tools include but are not limited to password guessing programs, cracking tools or network probing tools. You may not "flood" or disrupt the Website through any means or process.</p>

                    <p>You may not copy, scrape, download, export or otherwise capture any data obtained in the Website, e.g., the alumni directory, and/or store it outside of the system, e.g., in a separate spreadsheet, email list, database or other external repository without the permission of ADGITM. ADGITM may grant permission by configuring User accounts to allow such activities.</p>

                    <p>You agree that you will not access or attempt to access any other user's account, or misrepresent or attempt to misrepresent your identity while using the Website.</p>
                </div>

            </li>
            <li>
                <div class="heading">
                    <p>Online Communication Services</p>
                </div>
                <div class="desc">
                    <p>Communication services provided through the Website, such as the directory, online communities, discussion boards, blogs, messaging, social and professional networking, and other services in the future, are a part of the Website designed for communication between Users. ADGITM will not monitor these communications, but reserves the right to take action against any User who defames or harasses another User through any of the services offered through the Website, if it comes to ADGITM's attention.</p>
                </div>

            </li>
            <li>
                <div class="heading">
                    <p>Online Alumni Communities</p>
                </div>
                <div class="desc">
                    <p>ADGITM provides a platform on which alumni can create and join online alumni communities based on shared interests or experiences. Participants in online alumni communities may not represent or imply that their opinions represent those of ADGITM. ADGITM reserves the right to remove all or any portion of an online alumni community’s information from the platform at any time and at ADGITM’s sole discretion. All online alumni community participants and organizers agree not to post or facilitate the posting of any material in violation of these Terms of Use. Online alumni community participants and organizers also agree to provide reasonable assistance at the request of ADGITM and its representatives to address any violations of this policy as determined by ADGITM. Participants and organizers also agree not to use the online alumni community for any activity that violates any federal, state or local law.</p>
                </div>

            </li>
            <li>
                <div class="heading">
                    <p>Disclaimer of Warranty / Limitation of Liability</p>
                </div>
                <div class="desc">
                    <p>ADGITM does not warrant that the Website will operate in an uninterrupted or error-free manner or that the Website is free of viruses or other harmful components. Use of information obtained from or through these Website is at your own risk.</p>

                    <p>YOU AGREE THAT ADGITM WILL NOT BE LIABLE TO YOU FOR ANY LOSS OR DAMAGES, EITHER ACTUAL OR CONSEQUENTIAL, ARISING OUT OF OR RELATING TO THESE TERMS OF USE, OR TO YOUR (OR ANY THIRD PARTY'S) USE OR INABILITY TO USE THE WEBSITE, OR TO YOUR PLACEMENT OF CONTENT ON THE WEBSITE, OR TO YOUR RELIANCE UPON INFORMATION OBTAINED FROM OR THROUGH THE WEBSITE. IN PARTICULAR, ADGITM WILL HAVE NO LIABILITY FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, PUNITIVE, SPECIAL OR INCIDENTAL DAMAGES, WHETHER FORESEEABLE OR UNFORESEEABLE, (INCLUDING, BUT NOT LIMITED TO, CLAIMS FOR DEFAMATION, ERRORS, MISUSE OF EMAIL OR OTHER SERVICES, LOSS OF DATA, OR INTERRUPTION IN AVAILABILITY OF DATA), ARISING OUT OF OR RELATING TO THESE TERMS, YOUR USE OF OR INABILITY TO USE A WEBSITE, OR ANY PURCHASES ON THE WEBSITE, OR YOUR PLACEMENT OF CONTENT ON A WEBSITE, OR YOUR RELIANCE UPON INFORMATION OBTAINED FROM OR THROUGH A WEBSITE, WHETHER BASED IN CONTRACT, TORT, STATUTORY OR OTHER LAW, EXCEPT ONLY TO THE EXTENT THAT APPLICABLE LAW REQUIRES SUCH LIABILITY.</p>

                    <p>ADGITM makes no representation regarding your ability to transmit and receive information from or through the Website and you agree and acknowledge that your ability to access the Website may be impaired. ADGITM disclaims any and all liability resulting from or related to such events.</p>
                </div>

            </li>
            <li>
                <div class="heading">
                    <p>Choice of Law/Forum Selection</p>
                </div>
                <div class="desc">
                    <p>All matters relating to the Website and these Terms of Use and any dispute or claim arising therefrom or related thereto (in each case, including non-contractual disputes or claims), shall be governed by and construed in accordance with the internal laws of the State of California without giving effect to any choice or conflict of law provision or rule.</p>

                    <p>Any legal suit, action or proceeding arising out of, or related to, these Terms of Use or the Website shall be instituted exclusively in the federal courts of the United States or the courts of the State of California located in the county of San Francisco. You waive any and all objections to the exercise of jurisdiction over you by such courts and to venue in such courts.</p>
                </div>

            </li>
            <li>
                <div class="heading">
                    <p>Notice</p>
                </div>
                <div class="desc">
                    <p>ADGITM reserves the right to update this Terms of Use from time to time. ADGITM will notify you of any changes and/or modifications by updating the “Last Modified” date on this page, sending an electronic communication detailing the changes, posting a notification on the Services, or as required by law. Any changes or modifications will be effective immediately upon posting the update on ADGITM’s Services. You are encouraged to periodically review these Terms of Use to stay informed of updates. Your continued use of ADGITM’s Services after receipt of such revised Terms of Use will be deemed an acceptance of the changes.</p>
                </div>

            </li>
            <li>
                <div class="heading">
                    <p>Termination of Service</p>
                </div>
                <div class="desc">
                    <p>User may terminate this Agreement by cancelling his or her account. To do this the user must contact ADGITM through phone or mail as listed below.</p>

                    <p>ADGITM may terminate your account or access rights to the Website at any time, without notice, for conduct that ADGITM believes violates this Agreement or other policies or guidelines that ADGITM has posted. ADGITM may terminate your account or your access rights to the Website for online conduct that ADGITM believes is harmful to other Users, to ADGITM's business, or to other information providers.</p>
                </div>

            </li>
            <li>
                <div class="heading">
                    <p>Trademarks</p>
                </div>
                <div class="desc">
                    <p>The logo, name and all graphics on the Website or its affiliates are trademarks of ADGITM or its affiliates. You must not use, reproduce, copy, or redistribute such marks without the prior written permission of ADGITM or its affiliates. All other trademarks or service marks appearing on the Website are the marks of their respective owners.</p>
                </div>

            </li>
            <li>
                <div class="heading">
                    <p>Indemnification</p>
                </div>
                <div class="desc">
                    <p>You agree to defend, indemnify and hold ADGITM, its trustees, officers, employees and agents harmless from any claims, losses or damages, including legal fees, resulting from your violation of these Terms of Use, your use of the Website or your placement of any content onto the Website, and to fully cooperate in ADGITM's defense against any such claims.</p>
                </div>

            </li>
            <li>
                <div class="heading">
                    <p>Copyright License & Complaints</p>
                </div>
                <div class="desc">
                    <p>Owners of posted materials grants ADGITM a non-exclusive, royalty-free, perpetual license to reproduce and distribute any content posted on the Website.</p>

                    <p>ADGITM respects the intellectual property rights of others and complies with the Digital Millennium Copyright Act (DMCA). If you believe your copyright has been violated on the Website, please provide the following information:</p>

                    <ul style="list-style-type: disc">
                        <li>
                            <p>The name, address, and physical or electronic signature of the complaining party</p>
                        </li>
                        <li>
                            <p>Identification of the infringing materials and their Internet location, or if the service provider is an "information location tool" such as a search engine, the reference or link to the infringing materials</p>
                        </li>
                        <li>
                            <p>Sufficient information to identify the copyrighted works</p>
                        </li>
                        <li>
                            <p>A statement by the copyright holder of a good faith belief that there is no legal basis for the use complained of</p>
                        </li>
                        <li>
                            <p>A statement of the accuracy of the notice and, under penalty of perjury, that the complaining party is authorized to act on the behalf of the copyright holder</p>
                        </li>
                    </ul>
                </div>

            </li>
            <li>
                <div class="heading">
                    <p>Entire Agreement</p>
                </div>
                <div class="desc">
                    <p>The Terms of Use and our Privacy Policy constitute the sole and entire agreement between you and ADGITM with respect to the Website and supersede all prior and contemporaneous understandings, agreements, representations and warranties, both written and oral, with respect to the Website.</p>
                </div>
            </li>
            <li>
                <div class="heading">
                    <p>Contact Information</p>
                </div>
                <div class="desc">
                    <p>To ask questions or comment about this Terms of Use, contact us at:</p>

                    <p>info@niecdelhi.ac.in</p>
                </div>

            </li>
        </ul>
    </div>


</section>

