
    <link rel="stylesheet" href="css/More_pages/volunteer_opportunitynew.css">
<section id="volunteer_opportunity">
<div class="volunteercontainer">
    <!--<div class="volunteer-image">-->
        <!--<div  id="top-image" >-->
            <!--<img src="volunteer_images/volunteer1.jpg" alt="">-->
        <!--</div>-->
    <!--</div>-->
    <div class="volunteer-heading">
        <div  id="top-heading" >
            <h1>VOLUNTEER OPPORTUNITY</h1>
        </div>
    </div>
    <div class="volunteer" id="one">
        <div class="volunteer-img">
            <img src="files/volunteer_images/volunteer2new.jpg" alt="">
        </div>
        <div class="volunteer-desc">
            <p class="para1">Volunteer for Workshop/Seminars/Guest Lecture</p>
            <p class="para2">"Sharing is Caring" So share your knowledge with your juniors. Become a volunteer for Workshops/Seminars/Guest Lecture</p>

        </div>
    </div>
    <div class="volunteer" id="two">
        <div class="volunteer-img">
            <img src="files/volunteer_images/volunteer3.jpg" alt="">
        </div>
        <div class="volunteer-desc">
            <p class="para1">Volunteer to Host/Conduct Reunions</p>
            <p class="para2">Be a volunteer to host Alumni Reunions and other Alumni Events in your city.</p>

        </div>
    </div>
    <div class="volunteer" id="three">
        <div class="volunteer-img">
            <img src="files/volunteer_images/volunteer4.jpg" alt="">
        </div>
        <div class="volunteer-desc">
            <p class="para1">Volunteer for Fund Raising</p>
            <p class="para2">"Joy of Giving" Let's align ourselves with ADGITM Alumni Association vision to support needy by raising funds for initiatives taken by ADGITMA.</p>


        </div>
    </div>
    <div class="volunteer" id="four">
        <div class="volunteer-img">
            <img src="files/volunteer_images/volunteer9.jpg" alt="">
        </div>
        <div class="volunteer-desc">
            <p class="para1">Volunteer to Identify the Job Opportunities</p>
            <p class="para2">Help us by sharing opportunities in your companies to build a career support space for current students and for experienced alumni.</p>

        </div>
    </div>
    <div class="volunteer" id="five">
        <div class="volunteer-img">
            <img src="files/volunteer_images/volunteer5.jpg" alt="">
        </div>
        <div class="volunteer-desc">
            <p class="para1">Volunteer for the Mentorship</p>
            <p class="para2">Be a mentor to guide current students and younger alumni with your skill and experience.</p>

        </div>
    </div>
    <div class="volunteer" id="six">
        <div class="volunteer-img">
            <img src="files/volunteer_images/volunteer6.jpg" alt="">
        </div>
        <div class="volunteer-desc">
            <p class="para1">Volunteer for Academic Support</p>
            <p class="para2">Help us in bridging the gap between Industry  & Academics by sharing your inputs through Live projects, Project evaluations and curriculum vetting etc.</p>

        </div>
    </div>
    <div class="volunteer" id="seven">
        <div class="volunteer-img">
            <img src="files/volunteer_images/volunteer7.jpg" alt="">
        </div>
        <div class="volunteer-desc">
            <p class="para1">Volunteer for Chapter Development</p>
            <p class="para2">Connect with Alumni chapter in your city to grow your personal network and for volunteer opportunities to host events and activities.</p>

        </div>
    </div>
    <div class="volunteer" id="eight">
        <div class="volunteer-img">
            <img src="files/volunteer_images/volunteer8.jpg" alt="">
        </div>
        <div class="volunteer-desc">
            <p class="para1">Volunteer for Publications</p>
            <p class="para2">Share your articles and success stories to help the world know our alumni achievements and recognition.</p>

        </div>
    </div>

</div>
</section>