
    <link rel="stylesheet" href="css/More_pages/volunteer_submit.css">
<section id="volunteer_submit">
    <div class="volunteer_submit_image">
        <img src="files/volunteer_images/volunteer10.jpg" alt="">
    </div>
    <div class="volunteer_submit_form">
        <form action="">
            <label for="name">*YOUR NAME</label>
            <input id="name" type="text" placeholder="Enter your name" required>

            <label for="program">*YOUR PROGRAM</label>
            <input type="text" id="program" placeholder="B.Tech cse" required>

            <label for="batch">*BATCH</label>
            <input type="text" id="batch" placeholder="2008-2012" required>

            <label for="company">*COMPANY / DESIGNATION</label>
            <input type="text" id="company" placeholder="Infosys-consultant" required>

            <label for="location">*YOUR LOCATION</label>
            <input type="text" id="location" placeholder="Write your current location" required>

            <label for="mobile">*MOBILE NUMBER</label>
            <input type="text" id="mobile" required PLACEHOLDER="+91">

            <label for="email">*YOUR EMAIL</label>
            <input id="email" type="email" required>

            <button type="submit">Submit</button>

        </form>
    </div>
</section>