

<!--Header ends here-->
<style>
    .login-page-heading{
        font-size: 22px;
        font-weight: 300;
        letter-spacing: 1.2px;
        padding: 10px ;
    }
</style>
<div class="container-fluid" style="position: relative;height:700px;width: 100%">
<div class="container-fluid" style="position: absolute;height: 700px;width:100%;margin: 0;padding: 0;background-image:url('../files/ADGITM_building.jpg');filter: blur(10px);background-position: center;background-size: cover;background-repeat: no-repeat">
</div>
    <div class="container-fluid" style="position: absolute;height: 700px;width: 100%;background-color:rgba(255,255,255,0.4) ;opacity: 0.8"></div>
    <div class="container-fluid" style="top: 75px;filter: blur(0);z-index: 0;position: absolute">
        <div class="row justify-content-center"  align="center">
            <!--<div class="col-12 col-sm-8 col-md-5 col-lg-3">
                <div style="padding: 10px;border-radius: 10px;background-color: rgba(255, 255, 255,0.9); box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); height: auto" >
                    <div style="position: relative; margin: 20px; padding: 10px">
                        <div style="width: 100%;margin: 10px 0;padding: 10px"><p style="margin: 0;font-size: 13px" align="left">Email Id</p><input class="input-group-text" type="email" name="username" placeholder="abc@gmail.com"></div>
                        <div style="width: 100%;margin: 10px 0;padding: 10px"><p style="margin: 0;font-size: 13px" align="left">Password</p><input class="input-group-text" type="email" name="password" placeholder="123"></div>
                        <div class="mt-3"> <a href="/signup"><button class="btn btn-dark" type="submit" value="Sign In">Sign In</button></a></div>
                        <div style="margin: 5px 0">New User ? <a href="/createaccount"> Create Account</a></div>
                        <div ><a href="">Forget password?</a></div>
                    </div>

                </div>
            </div>-->
            <div class="col-8 col-sm-12 col-md-5 ml-md-3" style="border-radius: 10px;background-color: rgba(255, 255, 255,0.9); box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)">
               <div class="row p-3">
                <div class="row w-100">
                    <div class="col-12" ><p class="login-page-heading" align="center">Sign Up Faster with Google</p></div>
                </div>
                <div class="row ">
                    <div class="col-12 ml-2" align="left"><p style="padding-bottom: 10px" ><i class="fa fa-bolt"></i>    Quick and easy registration</p></div>
                    <div class="col-12 ml-2" align="left"><p style="padding-bottom: 10px"><i class="fas fa-sync-alt"></i>    Updates your information automatically</p></div>
                    <div class="col-12 ml-2" align="left"><p style="padding-bottom: 10px"><i class="fa fa-user"></i>    Many already connected using Google</p></div>
                </div>
                <div class="row w-100">

                    <div class="col-12 col-md-6" align="center"><a href="/auth/google"><img align ="center" src = "files/google-signup.png" alt="image here" width="100%" height="auto" ></a></div>
                    <!--<div class="col-6"><a href="/auth/linkedin"> <button class="btn btn-dark">Connect with Linkedin</button></a></div>-->
                </div>
                <!--<div class="row mt-3" >
                    <div class="col-12" align="left">
                        <p class="subtitle">Already registered with email?</p>
                        <p class="subtitlecontent">No Problem. You can still connect with Facebook / LinkedIn by clicking the buttons above. We will connect your accounts automatically. Just ensure that your registered email on Facebook / LinkedIn is same as the one you used here.</p>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <p class="subtitle">Already registered with Facebook/Linkedin but want to log in with your email instead?</p>
                        <p class="subtitlecontent">No Problem. You can set a password for the facebook/linkedin account email ID.
                            <br>
                            <b><a href="#" class="forgot_password">Click here to set password</a></b>
                        </p>
                    </div>
                </div>-->
            </div>
            </div>
            <!--<div class="col-8 col-sm-5">-->
                <!--<div id="social_faster_card" class="card">-->
                    <!--<p class="title">Sign Up Faster with Facebook / LinkedIn</p>-->
                    <!--<div id="social_faster_why" class="text-left">-->
                        <!--<p><i class="fa fa-bolt"></i>Quick and easy registration</p>-->
                        <!--<p><i class="fa fa-refresh"></i>Updates your information automatically</p>-->
                        <!--<p><i class="fa fa-user"></i>28,956 are already connected using FB/Lin</p>-->
                    <!--</div>-->
                    <!--<div id="social_faster_btns_container">-->
                        <!--<div class="btn" data-url="/login/facebook"><span>Connect with Facebook</span></div>-->
                        <!--<div class="btn" data-url="/login/linkedin"><span>Connect with LinkedIn</span></div>-->

                    <!--</div>-->
                    <!--<div class="social_faster_already_connected text-left">-->
                        <!--<p class="subtitle">Already registered with email?</p>-->
                        <!--<p>No Problem. You can still connect with Facebook / LinkedIn by clicking the buttons above. We will connect your accounts automatically. Just ensure that your registered email on Facebook / LinkedIn is same as the one you used here.</p>-->
                    <!--</div>-->
                    <!--<div class="social_faster_already_connected text-left">-->
                        <!--<p class="subtitle">Already registered with Facebook/Linkedin but want to log in with your email instead?</p>-->
                        <!--<p>No Problem. You can set a password for the facebook/linkedin account email ID.-->
                            <!--<b><a href="#" class="forgot_password">Click here to set password</a></b>-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        </div>
    </div>
</div>


