<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new login</title>
    <link rel="stylesheet" href="/css/newlogin.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<section id="newlogin">
    <div class="title">
        <h3 class="section-title">
            CONNECT WITH <span>42,961</span> ALUMNI WORLDWIDE
        </h3>
    </div>
    <div class="container-newlogin">
        <div class="social-button">
            
            <a href="/auth/facebook" class="btn-own" ><i class="fab fa-facebook-square"></i>Connect with Facebook</a>
            <a class="btn-own" href="/auth/linkedin"><i class="fab fa-linkedin"></i>Connect with Linkdin</a>
        </div>

        <div class="text1">
            <p><span>28,963</span> alumni have connected their accounts</p>
        </div>

        <div class="text2">
            <p>This website will not post anything on your behalf without your permission</p>
        </div>

        <div class="social-button">
            <a href="/loginuser" class="btn-own"><i class="fas fa-envelope"></i>Connect with Email</a>
        </div>

    </div>
</section>

</body>
</html>