<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../public/Bootstrap/dist/js/jquery-3.2.1.js"></script>
    <link href="../../public/Bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <script src="../../public/Bootstrap/dist/js/bootstrap.js"></script>
    <link href="../../public/Bootstrap/dist/css/font-awesome.css" rel="stylesheet">
<link href="../../public/css/searchby_R_directory.css" rel="stylesheet">
</head>
<body>
<div class="first" style="background-color:#F7F7F7; box-shadow:2px 1px;">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-6 p-3" style="font-size: 20px">
                <span><a href="" style="color: deepskyblue;font-weight: bold;letter-spacing: 2px">All</a> </span>
                <span><i class="fa fa-arrow-right"></i> </span>
                <span> Country </span>
            </div>
        </div>
        <br>
    </div>
</div>
<div class="container-fluid mt-3 mb-4 ml-3">
    <div class="row pr-5 pl-5 pt-5 pb-1">
        <div class="col-10 ml-2 pl-2" style="font-size: 25px;font-weight: 200;font-family: Roboto;border-bottom: 1px solid rgba(0,0,0,0.1)">Country List</div>
    </div>
    <div class="row ml-3 pb-5 pr-5 pl-5 pt-2">
        <div class="col-12">
            <ul>

                <li title="Afghanistan">
                    <a href="/resources/countries/Afghanistan">
                        <div class="clearfix">
                            <p class="resource_name">Afghanistan</p>
                            <p class="resource_count">69</p>
                        </div>
                    </a>
                </li>

                <li title="Algeria">
                    <a href="/resources/countries/Algeria">
                        <div class="clearfix">
                            <p class="resource_name">Algeria</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Australia">
                    <a href="/resources/countries/Australia">
                        <div class="clearfix">
                            <p class="resource_name">Australia</p>
                            <p class="resource_count">169</p>
                        </div>
                    </a>
                </li>

                <li title="Bahrain">
                    <a href="/resources/countries/Bahrain">
                        <div class="clearfix">
                            <p class="resource_name">Bahrain</p>
                            <p class="resource_count">5</p>
                        </div>
                    </a>
                </li>

                <li title="Bangladesh">
                    <a href="/resources/countries/Bangladesh">
                        <div class="clearfix">
                            <p class="resource_name">Bangladesh</p>
                            <p class="resource_count">51</p>
                        </div>
                    </a>
                </li>

                <li title="Belgium">
                    <a href="/resources/countries/Belgium">
                        <div class="clearfix">
                            <p class="resource_name">Belgium</p>
                            <p class="resource_count">2</p>
                        </div>
                    </a>
                </li>

                <li title="Bhutan">
                    <a href="/resources/countries/Bhutan">
                        <div class="clearfix">
                            <p class="resource_name">Bhutan</p>
                            <p class="resource_count">169</p>
                        </div>
                    </a>
                </li>

                <li title="Brazil">
                    <a href="/resources/countries/Brazil">
                        <div class="clearfix">
                            <p class="resource_name">Brazil</p>
                            <p class="resource_count">16</p>
                        </div>
                    </a>
                </li>

                <li title="Burundi">
                    <a href="/resources/countries/Burundi">
                        <div class="clearfix">
                            <p class="resource_name">Burundi</p>
                            <p class="resource_count">10</p>
                        </div>
                    </a>
                </li>

                <li title="Cameroon">
                    <a href="/resources/countries/Cameroon">
                        <div class="clearfix">
                            <p class="resource_name">Cameroon</p>
                            <p class="resource_count">14</p>
                        </div>
                    </a>
                </li>

                <li title="Canada">
                    <a href="/resources/countries/Canada">
                        <div class="clearfix">
                            <p class="resource_name">Canada</p>
                            <p class="resource_count">450</p>
                        </div>
                    </a>
                </li>

                <li title="China">
                    <a href="/resources/countries/China">
                        <div class="clearfix">
                            <p class="resource_name">China</p>
                            <p class="resource_count">9</p>
                        </div>
                    </a>
                </li>

                <li title="Cyprus">
                    <a href="/resources/countries/Cyprus">
                        <div class="clearfix">
                            <p class="resource_name">Cyprus</p>
                            <p class="resource_count">2</p>
                        </div>
                    </a>
                </li>

                <li title="Czech Republic">
                    <a href="/resources/countries/Czech+Republic">
                        <div class="clearfix">
                            <p class="resource_name">Czech Republic</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Democratic Republic of the Congo">
                    <a href="/resources/countries/Democratic+Republic+of+the+Congo">
                        <div class="clearfix">
                            <p class="resource_name">Democratic Republic of the Congo</p>
                            <p class="resource_count">4</p>
                        </div>
                    </a>
                </li>

                <li title="Denmark">
                    <a href="/resources/countries/Denmark">
                        <div class="clearfix">
                            <p class="resource_name">Denmark</p>
                            <p class="resource_count">3</p>
                        </div>
                    </a>
                </li>

                <li title="Estonia">
                    <a href="/resources/countries/Estonia">
                        <div class="clearfix">
                            <p class="resource_name">Estonia</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Ethiopia">
                    <a href="/resources/countries/Ethiopia">
                        <div class="clearfix">
                            <p class="resource_name">Ethiopia</p>
                            <p class="resource_count">3</p>
                        </div>
                    </a>
                </li>

                <li title="Finland">
                    <a href="/resources/countries/Finland">
                        <div class="clearfix">
                            <p class="resource_name">Finland</p>
                            <p class="resource_count">2</p>
                        </div>
                    </a>
                </li>

                <li title="France">
                    <a href="/resources/countries/France">
                        <div class="clearfix">
                            <p class="resource_name">France</p>
                            <p class="resource_count">11</p>
                        </div>
                    </a>
                </li>

                <li title="Gabon">
                    <a href="/resources/countries/Gabon">
                        <div class="clearfix">
                            <p class="resource_name">Gabon</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Germany">
                    <a href="/resources/countries/Germany">
                        <div class="clearfix">
                            <p class="resource_name">Germany</p>
                            <p class="resource_count">31</p>
                        </div>
                    </a>
                </li>

                <li title="Ghana">
                    <a href="/resources/countries/Ghana">
                        <div class="clearfix">
                            <p class="resource_name">Ghana</p>
                            <p class="resource_count">11</p>
                        </div>
                    </a>
                </li>

                <li title="Hong Kong">
                    <a href="/resources/countries/Hong+Kong">
                        <div class="clearfix">
                            <p class="resource_name">Hong Kong</p>
                            <p class="resource_count">3</p>
                        </div>
                    </a>
                </li>

                <li title="India">
                    <a href="/resources/countries/India">
                        <div class="clearfix">
                            <p class="resource_name">India</p>
                            <p class="resource_count">34636</p>
                        </div>
                    </a>
                </li>

                <li title="Iran">
                    <a href="/resources/countries/Iran">
                        <div class="clearfix">
                            <p class="resource_name">Iran</p>
                            <p class="resource_count">5</p>
                        </div>
                    </a>
                </li>

                <li title="Iraq">
                    <a href="/resources/countries/Iraq">
                        <div class="clearfix">
                            <p class="resource_name">Iraq</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Ireland">
                    <a href="/resources/countries/Ireland">
                        <div class="clearfix">
                            <p class="resource_name">Ireland</p>
                            <p class="resource_count">5</p>
                        </div>
                    </a>
                </li>

                <li title="Israel">
                    <a href="/resources/countries/Israel">
                        <div class="clearfix">
                            <p class="resource_name">Israel</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Italy">
                    <a href="/resources/countries/Italy">
                        <div class="clearfix">
                            <p class="resource_name">Italy</p>
                            <p class="resource_count">10</p>
                        </div>
                    </a>
                </li>

                <li title="Japan">
                    <a href="/resources/countries/Japan">
                        <div class="clearfix">
                            <p class="resource_name">Japan</p>
                            <p class="resource_count">3</p>
                        </div>
                    </a>
                </li>

                <li title="Kenya">
                    <a href="/resources/countries/Kenya">
                        <div class="clearfix">
                            <p class="resource_name">Kenya</p>
                            <p class="resource_count">3</p>
                        </div>
                    </a>
                </li>

                <li title="Kuwait">
                    <a href="/resources/countries/Kuwait">
                        <div class="clearfix">
                            <p class="resource_name">Kuwait</p>
                            <p class="resource_count">3</p>
                        </div>
                    </a>
                </li>

                <li title="Latvia">
                    <a href="/resources/countries/Latvia">
                        <div class="clearfix">
                            <p class="resource_name">Latvia</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Lesotho">
                    <a href="/resources/countries/Lesotho">
                        <div class="clearfix">
                            <p class="resource_name">Lesotho</p>
                            <p class="resource_count">2</p>
                        </div>
                    </a>
                </li>

                <li title="Liberia">
                    <a href="/resources/countries/Liberia">
                        <div class="clearfix">
                            <p class="resource_name">Liberia</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Lithuania">
                    <a href="/resources/countries/Lithuania">
                        <div class="clearfix">
                            <p class="resource_name">Lithuania</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Malawi">
                    <a href="/resources/countries/Malawi">
                        <div class="clearfix">
                            <p class="resource_name">Malawi</p>
                            <p class="resource_count">2</p>
                        </div>
                    </a>
                </li>

                <li title="Malaysia">
                    <a href="/resources/countries/Malaysia">
                        <div class="clearfix">
                            <p class="resource_name">Malaysia</p>
                            <p class="resource_count">6</p>
                        </div>
                    </a>
                </li>

                <li title="Maldives">
                    <a href="/resources/countries/Maldives">
                        <div class="clearfix">
                            <p class="resource_name">Maldives</p>
                            <p class="resource_count">5</p>
                        </div>
                    </a>
                </li>

                <li title="Malta">
                    <a href="/resources/countries/Malta">
                        <div class="clearfix">
                            <p class="resource_name">Malta</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Mauritius">
                    <a href="/resources/countries/Mauritius">
                        <div class="clearfix">
                            <p class="resource_name">Mauritius</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Mexico">
                    <a href="/resources/countries/Mexico">
                        <div class="clearfix">
                            <p class="resource_name">Mexico</p>
                            <p class="resource_count">4</p>
                        </div>
                    </a>
                </li>

                <li title="Morocco">
                    <a href="/resources/countries/Morocco">
                        <div class="clearfix">
                            <p class="resource_name">Morocco</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Myanmar (Burma)">
                    <a href="/resources/countries/Myanmar+%28Burma%29">
                        <div class="clearfix">
                            <p class="resource_name">Myanmar (Burma)</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Nepal">
                    <a href="/resources/countries/Nepal">
                        <div class="clearfix">
                            <p class="resource_name">Nepal</p>
                            <p class="resource_count">153</p>
                        </div>
                    </a>
                </li>

                <li title="Netherlands">
                    <a href="/resources/countries/Netherlands">
                        <div class="clearfix">
                            <p class="resource_name">Netherlands</p>
                            <p class="resource_count">5</p>
                        </div>
                    </a>
                </li>

                <li title="New Zealand">
                    <a href="/resources/countries/New+Zealand">
                        <div class="clearfix">
                            <p class="resource_name">New Zealand</p>
                            <p class="resource_count">47</p>
                        </div>
                    </a>
                </li>

                <li title="Nigeria">
                    <a href="/resources/countries/Nigeria">
                        <div class="clearfix">
                            <p class="resource_name">Nigeria</p>
                            <p class="resource_count">97</p>
                        </div>
                    </a>
                </li>

                <li title="Norway">
                    <a href="/resources/countries/Norway">
                        <div class="clearfix">
                            <p class="resource_name">Norway</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Oman">
                    <a href="/resources/countries/Oman">
                        <div class="clearfix">
                            <p class="resource_name">Oman</p>
                            <p class="resource_count">10</p>
                        </div>
                    </a>
                </li>

                <li title="Pakistan">
                    <a href="/resources/countries/Pakistan">
                        <div class="clearfix">
                            <p class="resource_name">Pakistan</p>
                            <p class="resource_count">4</p>
                        </div>
                    </a>
                </li>

                <li title="Philippines">
                    <a href="/resources/countries/Philippines">
                        <div class="clearfix">
                            <p class="resource_name">Philippines</p>
                            <p class="resource_count">4</p>
                        </div>
                    </a>
                </li>

                <li title="Poland">
                    <a href="/resources/countries/Poland">
                        <div class="clearfix">
                            <p class="resource_name">Poland</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Portugal">
                    <a href="/resources/countries/Portugal">
                        <div class="clearfix">
                            <p class="resource_name">Portugal</p>
                            <p class="resource_count">2</p>
                        </div>
                    </a>
                </li>

                <li title="Qatar">
                    <a href="/resources/countries/Qatar">
                        <div class="clearfix">
                            <p class="resource_name">Qatar</p>
                            <p class="resource_count">12</p>
                        </div>
                    </a>
                </li>

                <li title="Romania">
                    <a href="/resources/countries/Romania">
                        <div class="clearfix">
                            <p class="resource_name">Romania</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Russia">
                    <a href="/resources/countries/Russia">
                        <div class="clearfix">
                            <p class="resource_name">Russia</p>
                            <p class="resource_count">2</p>
                        </div>
                    </a>
                </li>

                <li title="Rwanda">
                    <a href="/resources/countries/Rwanda">
                        <div class="clearfix">
                            <p class="resource_name">Rwanda</p>
                            <p class="resource_count">12</p>
                        </div>
                    </a>
                </li>

                <li title="Saudi Arabia">
                    <a href="/resources/countries/Saudi+Arabia">
                        <div class="clearfix">
                            <p class="resource_name">Saudi Arabia</p>
                            <p class="resource_count">13</p>
                        </div>
                    </a>
                </li>

                <li title="Senegal">
                    <a href="/resources/countries/Senegal">
                        <div class="clearfix">
                            <p class="resource_name">Senegal</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Serbia">
                    <a href="/resources/countries/Serbia">
                        <div class="clearfix">
                            <p class="resource_name">Serbia</p>
                            <p class="resource_count">33</p>
                        </div>
                    </a>
                </li>

                <li title="Singapore">
                    <a href="/resources/countries/Singapore">
                        <div class="clearfix">
                            <p class="resource_name">Singapore</p>
                            <p class="resource_count">16</p>
                        </div>
                    </a>
                </li>

                <li title="Slovakia">
                    <a href="/resources/countries/Slovakia">
                        <div class="clearfix">
                            <p class="resource_name">Slovakia</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Somalia">
                    <a href="/resources/countries/Somalia">
                        <div class="clearfix">
                            <p class="resource_name">Somalia</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="South Africa">
                    <a href="/resources/countries/South+Africa">
                        <div class="clearfix">
                            <p class="resource_name">South Africa</p>
                            <p class="resource_count">3</p>
                        </div>
                    </a>
                </li>

                <li title="South Korea">
                    <a href="/resources/countries/South+Korea">
                        <div class="clearfix">
                            <p class="resource_name">South Korea</p>
                            <p class="resource_count">4</p>
                        </div>
                    </a>
                </li>

                <li title="Spain">
                    <a href="/resources/countries/Spain">
                        <div class="clearfix">
                            <p class="resource_name">Spain</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Sri Lanka">
                    <a href="/resources/countries/Sri+Lanka">
                        <div class="clearfix">
                            <p class="resource_name">Sri Lanka</p>
                            <p class="resource_count">58</p>
                        </div>
                    </a>
                </li>

                <li title="Sudan">
                    <a href="/resources/countries/Sudan">
                        <div class="clearfix">
                            <p class="resource_name">Sudan</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Switzerland">
                    <a href="/resources/countries/Switzerland">
                        <div class="clearfix">
                            <p class="resource_name">Switzerland</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Syria">
                    <a href="/resources/countries/Syria">
                        <div class="clearfix">
                            <p class="resource_name">Syria</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Taiwan">
                    <a href="/resources/countries/Taiwan">
                        <div class="clearfix">
                            <p class="resource_name">Taiwan</p>
                            <p class="resource_count">2</p>
                        </div>
                    </a>
                </li>

                <li title="Tajikistan">
                    <a href="/resources/countries/Tajikistan">
                        <div class="clearfix">
                            <p class="resource_name">Tajikistan</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Tanzania">
                    <a href="/resources/countries/Tanzania">
                        <div class="clearfix">
                            <p class="resource_name">Tanzania</p>
                            <p class="resource_count">53</p>
                        </div>
                    </a>
                </li>

                <li title="Thailand">
                    <a href="/resources/countries/Thailand">
                        <div class="clearfix">
                            <p class="resource_name">Thailand</p>
                            <p class="resource_count">3</p>
                        </div>
                    </a>
                </li>

                <li title="Turkey">
                    <a href="/resources/countries/Turkey">
                        <div class="clearfix">
                            <p class="resource_name">Turkey</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Uganda">
                    <a href="/resources/countries/Uganda">
                        <div class="clearfix">
                            <p class="resource_name">Uganda</p>
                            <p class="resource_count">2</p>
                        </div>
                    </a>
                </li>

                <li title="United Arab Emirates">
                    <a href="/resources/countries/United+Arab+Emirates">
                        <div class="clearfix">
                            <p class="resource_name">United Arab Emirates</p>
                            <p class="resource_count">67</p>
                        </div>
                    </a>
                </li>

                <li title="United Kingdom">
                    <a href="/resources/countries/United+Kingdom">
                        <div class="clearfix">
                            <p class="resource_name">United Kingdom</p>
                            <p class="resource_count">57</p>
                        </div>
                    </a>
                </li>

                <li title="United States">
                    <a href="/resources/countries/United+States">
                        <div class="clearfix">
                            <p class="resource_name">United States</p>
                            <p class="resource_count">290</p>
                        </div>
                    </a>
                </li>

                <li title="Vietnam">
                    <a href="/resources/countries/Vietnam">
                        <div class="clearfix">
                            <p class="resource_name">Vietnam</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

                <li title="Yemen">
                    <a href="/resources/countries/Yemen">
                        <div class="clearfix">
                            <p class="resource_name">Yemen</p>
                            <p class="resource_count">8</p>
                        </div>
                    </a>
                </li>

                <li title="Zambia">
                    <a href="/resources/countries/Zambia">
                        <div class="clearfix">
                            <p class="resource_name">Zambia</p>
                            <p class="resource_count">57</p>
                        </div>
                    </a>
                </li>

                <li title="Zimbabwe">
                    <a href="/resources/countries/Zimbabwe">
                        <div class="clearfix">
                            <p class="resource_name">Zimbabwe</p>
                            <p class="resource_count">1</p>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>
</html>
<!---->