<style>
    .first{
        text-align: center;
    }
    .filterlist li{
        color: black;
    }
    .filterlist li:hover{
        border: 1px solid rgba(0,0,0,0.5);

    }
    .alumni-cards{
        height: 300px;width: 12.7rem; cursor: pointer;
    }
    .alumni-cards:hover{
        box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.2);
    }
</style>
<div class="first" style="background-color:#F7F7F7; box-shadow:2px 1px;">
    <div class="container mt-4">
        <br>
        <h2>Search</h2>
        <br>
        <h6>Search from 500 Alumni Worldwide.</h6>
        <br>
        <div class="form-control form-control-sm" id="searchdiv" style="width:550px;height: 50px; margin-left:24%; border-radius: 6px">
            <span><i class="fas fa-search"></i> </span>
            <input  placeholder="  Type To Search " style="width: 420px;height: 35px;border: none; margin-left: 20px">
        </div>

        <br>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="row pl-3 pr-3 ml-2 mr-2">
        <!--Filters Div-->
        <div class="col-4 pl-3 pb-5">
            <div class="row">
                <div class="col-10 pb-5" style="background-color: rgba(0,0,0,0.1)">
                    <div class="row pl-3 pt-4" style="background-color: black;color: white;border-bottom: 1px solid #bc0404"><h4>FILTERS</h4></div>
                    <div class="row justify-content-center">
                        <div class="col-12 p-2">
                            <h5 style="font-weight: bold;width: 100%">Year</h5>
                        </div>
                    <div class="col-10" style="height: 300px;overflow-y: scroll">

                        <ul class="filterlist" style="list-style-type: none">
                            <li>1998</li>
                            <li>1999</li>
                            <li>2000</li>
                            <li>2001</li>
                            <li>2002</li>
                            <li>2003</li>
                            <li>2004</li>
                            <li>2005</li>
                            <li>2006</li>
                            <li>2007</li>
                            <li>2008</li>
                            <li>2009</li>
                            <li>2010</li>
                            <li>2011</li>
                            <li>2012</li>
                            <li>2013</li>
                            <li>2014</li>
                            <li>2015</li>
                            <li>2016</li>
                            <li>2017</li>
                            <li>2018</li>

                        </ul>
                    </div>
                    </div>
                    <div class="row justify-content-center">
                        <h5>EDUCATION</h5> <br>
                        <div class="col-10">
                            <div class="row">
                                <h6 style="font-weight: bold;width: 100%">Course</h6>
                                <br>
                               <div class="col-10">

                                <ul class="filterlist">
                                    <li>B.Tech</li>
                                    <li>MCA</li>
                                    <li>BCA</li>
                                    <li>MBA</li>
                                </ul>
                               </div>
                            </div>
                            <div class="row">
                                <h6 style="font-weight: bold;width: 100%">Branch</h6> <br>
                                <br> <br>
                                <div class="col-10">
                                <ul class="filterlist">
                                    <li>CSE</li>
                                    <li>MECH</li>
                                    <li>CIVIL</li>
                                    <li>EEE</li>
                                    <li>IT</li>
                                    <li>ECE</li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Cards For Alumni-->
        <div class="col-6">
            <div class="row justify-content-center mt-2">
                <!--Alumni 1-->
                <div class="card mr-1 mt-2 mb-2 alumni-cards"  align="center">
                    <div class="card-img-top" style="background-color: gray" align="center" >
                        <img  src="files/notable-Alumni/rohit-sikka-Google.png" alt="image here" title="Rohit Sikka" width="100%">
                    </div>
                    <div class="card-body" style="height: 150px">


                        <h5 class="card-title"> Rohit Sikka </h5>
                        <p class="card-text pb-1 mt-1"> Developer at Google </p>

                    </div>
                </div>
                <!--Alumni 2-->
                <div class="card ml-1 mr-1 mt-2 mb-2 alumni-cards"  align="center">
                    <div class="card-img-top"  align="center" >
                        <img  src="files/notable-Alumni/noopur-aroraIBM.png" title="Noopur Arora" alt="image here" width="100%" >
                    </div>
                    <div class="card-body">


                        <h5 class="card-title">Noopur Arora </h5>
                        <p class="card-text pb-1 mb-1">Developer at IBM </p>

                    </div>
                </div>
                <!--Alumni 3-->
                <div class="card ml-1 mr-1 mt-2 mb-2 alumni-cards" align="center">
                    <div class="card-img-top" align="center" >
                        <img src="files/notable-Alumni/Isha-BhatiyaADOBE.png" title="Isha Bhatiya" alt="image here" width="100%" >
                    </div>
                    <div class="card-body">


                        <h5 class="card-title"> Isha Bhatiya </h5>
                        <p class="card-text pb-1 mb-1"> Developer at Adobe </p>

                    </div>
                </div>
                <!--Alumni 4-->
                <div class="card ml-1 mr-1 mt-2 mb-2 alumni-cards" align="center">
                    <div class="card-img-top" align="center" >
                        <img src="files/notable-Alumni/pranjal-jumdeStackRox.png" title="Pranjal" alt="image here" width="100%">
                    </div>
                    <div class="card-body">


                        <h5 class="card-title"> Pranjal Jumde </h5>

                        <p class="card-text pb-1 mb-1"> Developer at StackRox </p>

                    </div>
                </div>
                <!--Alumni 5-->
                <div class="card mr-1 ml-1  mt-2 mb-2 alumni-cards" align="center">
                    <div class="card-img-top" style="background-color: gray" align="center" >
                        <img  src="files/notable-Alumni/sourabh-jeswani-Amazon.jpg" alt="image here" title="Sourabh Jeswani" width="100%">
                    </div>
                    <div class="card-body" style="height: 150px">


                        <h5 class="card-title"> Sourabh Jeswani </h5>
                        <p class="card-text pb-1 mt-1">Amazon </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
