
    <title>Title</title>
    <link href="css/searchby_R_directory.css" rel="stylesheet">
    <script>
        let searchdiv=$('#searchdiv')
        searchdiv.click(()=>{

        })
    </script>
<div class="first" style="background-color:#F7F7F7; box-shadow:2px 1px;">
        <div class="container mt-4">
            <br>
            <h2>Directory</h2>
            <br>
            <h6>Browse through alumni profile , associated with a category.</h6>
            <br>
            <div class="form-control form-control-sm" id="searchdiv" style="width:550px;height: 50px; margin-left:24%; border-radius: 6px">
                <span><i class="fas fa-search"></i> </span>
                <input  placeholder="  Type To Search " style="width: 420px;height: 35px;border: none; margin-left: 20px">
            </div>

            <br>
        </div>
    </div>
<div class="container-fluid mt-2 mb-4">
    <div class="row p-5">
        <!--Country-->
        <div class="col-12 col-sm-6 col-md-3 pl-3">
            <div class="row" >
                <div class="col-12 pl-1 ml-2 pb-1" style="color: deepskyblue;font-weight: bold ;border-bottom: 1px solid lightgray">Country</div>

            </div>
            <ul class="resourcelist">
                <li ><a href=""> India</a></li>
                <li><a href=""> Australia</a></li>
                <li><a href=""> Usa</a></li>
                <li><a href=""> Canada</a></li>
                <li><a href=""> London</a></li>
                <li><a href="search_by_R_country.handlebars"> more   ...</a></li>
            </ul>
        </div>
    <!--State-->
        <div class="col-12 col-sm-6 col-md-3 pl-3">
            <div class="row" >
                <div class="col-12 pl-1 ml-2 pb-1" style="color: deepskyblue;font-weight: bold ;border-bottom: 1px solid lightgray">State</div>

            </div>
            <ul class="resourcelist">
                <li ><a href=""> Delhi</a></li>
                <li><a href=""> New Jersy</a></li>
                <li><a href=""> North Carolina</a></li>
                <li><a href=""> Goa</a></li>
                <li><a href=""> Maharashtra</a></li>
                <li><a href="search_by_R_state.handlebars"> more   ...</a></li>
            </ul>
        </div>
<!--City -->
        <!--<div class="col-12 col-sm-6 col-md-3 pl-3">-->
            <!--<div class="row" >-->
                <!--<div class="col-12 pl-1 ml-2 pb-1" style="color: deepskyblue;font-weight: bold ;border-bottom: 1px solid lightgray">City</div>-->

            <!--</div>-->
            <!--<ul class="resourcelist">-->
                <!--<li ><a href=""> Ghaziabad</a></li>-->
                <!--<li><a href=""> Kalol</a></li>-->
                <!--<li><a href=""> Fatehpur</a></li>-->
                <!--<li><a href=""> Kanpur</a></li>-->
                <!--<li><a href=""> Kandy</a></li>-->
                <!--<li><a href="/searchbyresource/city"> more   ...</a></li>-->
            <!--</ul>-->
        <!--</div>-->
<!--Branch-->
        <div class="col-12 col-sm-6 col-md-3 pl-3">
            <div class="row" >
                <div class="col-12 pl-1 ml-2 pb-1" style="color: deepskyblue;font-weight: bold ;border-bottom: 1px solid lightgray">Branch</div>

            </div>
            <ul class="resourcelist">
                <li ><a href=""> Cse</a></li>
                <li><a href=""> Mechanical</a></li>
                <li><a href=""> Civil</a></li>
                <li><a href=""> IT</a></li>
                <li><a href=""> ECE</a></li>
                <li><a href="search_by_R_branch.handlebars"> more   ...</a></li>
            </ul>
        </div>
<!--Company-->
        <div class="col-12 col-sm-6 col-md-3 pl-3">
            <div class="row" >
                <div class="col-12 pl-1 ml-2 pb-1" style="color: deepskyblue;font-weight: bold ;border-bottom: 1px solid lightgray">Company</div>

            </div>
            <ul class="resourcelist">
                <li ><a href=""> Infosys</a></li>
                <li><a href=""> Eny</a></li>
                <li><a href=""> Microsoft</a></li>
                <li><a href=""> Google</a></li>
                <li><a href=""> LinkedIn</a></li>
                <li><a href="search_by_R_company.handlebars"> more   ...</a></li>
            </ul>
        </div>
<!--Designation-->
        <!--<div class="col-12 col-sm-6 col-md-3 pl-3">-->
            <!--<div class="row" >-->
                <!--<div class="col-12 pl-1 ml-2 pb-1" style="color: deepskyblue;font-weight: bold ;border-bottom: 1px solid lightgray">Designation</div>-->

            <!--</div>-->
            <!--<ul class="resourcelist">-->
                <!--<li ><a href=""> Manager</a></li>-->
                <!--<li><a href=""> Ceo</a></li>-->
                <!--<li><a href=""> Assistant Manager</a></li>-->
                <!--<li><a href=""> Software engineer</a></li>-->
                <!--<li><a href=""> Sales </a></li>-->
                <!--<li><a href=""> more   ...</a></li>-->
            <!--</ul>-->
        <!--</div>-->
<!--Department-->
        <!--<div class="col-12 col-sm-6 col-md-3 pl-3">-->
            <!--<div class="row" >-->
                <!--<div class="col-12 pl-1 ml-2 pb-1" style="color: deepskyblue;font-weight: bold ;border-bottom: 1px solid lightgray">Department</div>-->

            <!--</div>-->
            <!--<ul class="resourcelist">-->
                <!--<li ><a href=""> Animation</a></li>-->
                <!--<li><a href=""> Cse</a></li>-->
                <!--<li><a href=""> Analytic</a></li>-->
                <!--<li><a href=""> Department of Physics</a></li>-->
                <!--<li><a href=""> Department of Mathematics</a></li>-->
                <!--<li><a href=""> more   ...</a></li>-->
            <!--</ul>-->
        <!--</div>-->
<!--Skill-->
        <!--<div class="col-12 col-sm-6 col-md-3 pl-3">-->
            <!--<div class="row" >-->
                <!--<div class="col-12 pl-1 ml-2 pb-1" style="color: deepskyblue;font-weight: bold ;border-bottom: 1px solid lightgray">Skills</div>-->

            <!--</div>-->
            <!--<ul class="resourcelist">-->
                <!--<li ><a href=""> 2D animation</a></li>-->
                <!--<li><a href=""> Agile</a></li>-->
                <!--<li><a href=""> Soft Spoken</a></li>-->
                <!--<li><a href=""> Handle work under Pressure</a></li>-->
                <!--<li><a href=""> Hard Working</a></li>-->
                <!--<li><a href=""> more   ...</a></li>-->
            <!--</ul>-->
        <!--</div>-->

    </div>
</div>