<link href="css/gallery/image_gallery_homepage.css" rel="stylesheet">

<div class="first" style="background-color:#F7F7F7; box-shadow:2px 1px;">
    <a class="container">
        <h1>Gallery</h1>
        <h5>Cherish Your College Days with Our Gallery. </h5>
        <a class="link-albums-styling" href="/albums">Albums </a> / <a href="/CIVIL">CIVIL</a>
        <br><br><br>
    </a>
</div>
<div class="second">
    <div class="container pb-5 ">

        <br>
        <div class="row pl-md-0 pl-3">
            <div class="card gallery-card-settings">

                <div class="card-img-top"><img alt="Niec CIVIL ADGITM 2014 batch " src="https://drive.google.com/uc?id=1tWfhLi34gOSN86Y5jlxPsWo9AJ-aOuAj" onclick="openModal();currentSlide(1)" width="100%" height="190.5px"> </div>
            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec CIVIL ADGITM 2014 batch " src="https://drive.google.com/uc?id=10H0jtbuYJuJqubTdU4SrSkUZvW1mqDEE" onclick="openModal();currentSlide(2)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec CIVIL ADGITM 2014 batch " src="https://drive.google.com/uc?id=1w0RUaAH3VbuvFAFX4dW73ylFpdFvBlan" onclick="openModal();currentSlide(3)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec CIVIL ADGITM 2014 batch " src="https://drive.google.com/uc?id=1d2xQTtDDiXdQ1RiXuNI_CwVE-TrTUpQ6" onclick="openModal();currentSlide(4)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec CIVIL ADGITM 2014 batch" src="https://drive.google.com/uc?id=1pBN5jEoTJdCORTDbahviGL-y0ypnRqpe" onclick="openModal();currentSlide(5)" height="190px" width="100%"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec CIVIL ADGITM 2014 batch " src="https://drive.google.com/uc?id=1uZFGN_Ggkg42PYBqgWbswDbxHl2vpMIg" onclick="openModal();currentSlide(6)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec CIVIL ADGITM 2014 batch " src="https://drive.google.com/uc?id=1HQWyh99wGHD_tGyk9u0UMJOAihLlbLMh" onclick="openModal();currentSlide(7)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec CIVIL ADGITM 2014 batch " src="https://drive.google.com/uc?id=1JRr1u0DllBqnvG5-53V-t-wy1e9b_yG1" onclick="openModal();currentSlide(8)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec CIVIL ADGITM 2014 batch " src="https://drive.google.com/uc?id=1Vz5WodzW5Dh8lXmT9_ZeO82T_Ynho_cm" onclick="openModal();currentSlide(9)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec CIVIL ADGITM 2014 batch " src="https://drive.google.com/uc?id=1TCnhJXvCmGEGqHQtqIAVI_GkWpjKJvcy" onclick="openModal();currentSlide(10)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec CIVIL ADGITM 2014 batch " src="https://drive.google.com/uc?id=1C-pWX9axWDW6wEugTkfZf_AJAVB6hYPF" onclick="openModal();currentSlide(11)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec CIVIL ADGITM 2014 batch " src="https://drive.google.com/uc?id=1krkZek-SurLWNeh5ckC2nKUA0cNS3OGc" onclick="openModal();currentSlide(12)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec CIVIL ADGITM 2014 batch " src="https://drive.google.com/uc?id=1EGpVtA0fOOYwLIZOMsIJ82C9zXA0cG7O" onclick="openModal();currentSlide(13)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec CIVIL ADGITM 2014 batch " src="https://drive.google.com/uc?id=1syoc8Tl_YNqIXTThydpJk0hNt-ovjHf3" onclick="openModal();currentSlide(14)" width="100%" height="190.5px"> </div>

            </div>

            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="Gallery-Pics/CSE/2018/CSE/CSE_2018_2.jpg" onclick="openModal();currentSlide(7)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings">-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon1.jpg" onclick="openModal();currentSlide(8)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings">-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon2.jpg" onclick="openModal();currentSlide(9)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon3.jpg" onclick="openModal();currentSlide(10)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon4.jpg" onclick="openModal();currentSlide(11)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon5.jpg" onclick="openModal();currentSlide(12)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
        </div>
        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1tWfhLi34gOSN86Y5jlxPsWo9AJ-aOuAj" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=10H0jtbuYJuJqubTdU4SrSkUZvW1mqDEE" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1w0RUaAH3VbuvFAFX4dW73ylFpdFvBlan" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1d2xQTtDDiXdQ1RiXuNI_CwVE-TrTUpQ6" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1pBN5jEoTJdCORTDbahviGL-y0ypnRqpe" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1uZFGN_Ggkg42PYBqgWbswDbxHl2vpMIg" style="width:100%">
                </div>
                <div class="mySlides">
                <img src="https://drive.google.com/uc?id=1HQWyh99wGHD_tGyk9u0UMJOAihLlbLMh" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1JRr1u0DllBqnvG5-53V-t-wy1e9b_yG1" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1Vz5WodzW5Dh8lXmT9_ZeO82T_Ynho_cm" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1TCnhJXvCmGEGqHQtqIAVI_GkWpjKJvcy" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1C-pWX9axWDW6wEugTkfZf_AJAVB6hYPF" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1krkZek-SurLWNeh5ckC2nKUA0cNS3OGc" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1EGpVtA0fOOYwLIZOMsIJ82C9zXA0cG7O" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1syoc8Tl_YNqIXTThydpJk0hNt-ovjHf3" style="width:100%">
                </div>

                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon1.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon2.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon3.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon4.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon5.jpg" style="width:100%">-->
                <!--</div>-->


                <a class="prev btn btn-dark" style="color: white" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next btn btn-dark" style="color: white" onclick="plusSlides(1)">&#10095;</a>

            </div>
        </div>

        <script>
            function openModal() {
                document.getElementById('myModal').style.display = "block";
            }

            function closeModal() {
                document.getElementById('myModal').style.display = "none";
            }

            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                console.log(slides);
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex-1].style.display = "block";
            }
        </script>
    </div>
</div>