<link href="css/gallery/image_gallery_homepage.css" rel="stylesheet">

<div class="first" style="background-color:#F7F7F7; box-shadow:2px 1px;">
    <a class="container">
        <h1>Gallery</h1>
        <h5>Cherish Your College Days with Our Gallery. </h5>
        <a class="link-albums-styling" href="/albums">Albums </a> / <a href="/CSE">CSE</a>
        <br><br><br>
    </a>
</div>
<div class="second">
    <div class="container pb-5 ">

        <br>
        <div class="row pl-md-0 pl-3">
            <div class="card gallery-card-settings">

                <div class="card-img-top"><img alt="Niec Cse ADGITM 2015 batch " src="https://drive.google.com/uc?id=1x40mcSI9Gz17LoERuPyFChi48fKV9kO-" onclick="openModal();currentSlide(1)" width="100%" height="190.5px"> </div>
            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2015 batch CSE " src="https://drive.google.com/uc?id=1O4sfQ7cRsBAgBz-7EMhHp0Zr86_-yTHo" onclick="openModal();currentSlide(2)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2015 batch CSE " src="https://drive.google.com/uc?id=1brfdkiYCcpqAR5XOSj4irh1k3u7LxtNX" onclick="openModal();currentSlide(3)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2017 batch " src="https://drive.google.com/uc?id=1mxc1wolqwpnmbN8mffOBIYfa_pWf6rgl" onclick="openModal();currentSlide(4)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2017 batch " src="https://drive.google.com/uc?id=1MKNmuOifVR2xd1BI-E-erJaERHdRub07" onclick="openModal();currentSlide(5)" height="190px" width="100%"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2018 batch " src="https://drive.google.com/uc?id=1zTcxpzIFH9pYQh74e3b4VeugmqcKlhcU" onclick="openModal();currentSlide(6)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2018 batch " src="https://drive.google.com/uc?id=1eYyQnq8cmDsDjMKfx1cxchUL-H9jni8_" onclick="openModal();currentSlide(7)" width="100%" height="190.5px"> </div>

            </div>

            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2018 batch " src="https://drive.google.com/uc?id=1-0tm6KMXbGU2xNTgz0sn1_Q2DJYD_hg-" onclick="openModal();currentSlide(8)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2018 batch " src="https://drive.google.com/uc?id=1_NmQNGOAThqe_x3TO_ageiWacVSz2nQa" onclick="openModal();currentSlide(9)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2018 batch " src="https://drive.google.com/uc?id=1EjQor6Zd3CVyFA2ZhAL07HibbIW0Fhr8" onclick="openModal();currentSlide(10)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2018 batch " src="https://drive.google.com/uc?id=1Zh0GLOnu1i8mzxlxkyXgyJCeQ1rg7n34" onclick="openModal();currentSlide(11)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2018 batch " src="https://drive.google.com/uc?id=1H0tu5LGEHJL-hVl9mq62duw5T-yyjeKf" onclick="openModal();currentSlide(12)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2018 batch " src="https://drive.google.com/uc?id=1gs57XJGs5I2jQX4lSQAE_xo6CoPjThDN" onclick="openModal();currentSlide(13)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2018 batch " src="https://drive.google.com/uc?id=1AZEzE9WQkZDsHmPTevYtBkTL9bQDkCVq" onclick="openModal();currentSlide(14)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2018 batch " src="https://drive.google.com/uc?id=1R1J4H9e5tdNdn1BZY50B7UjMHfCtBp9B" onclick="openModal();currentSlide(15)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2018 batch " src="https://drive.google.com/uc?id=1XNAVp6JyIetYKMwRYF7fCSzd9JAD1wio" onclick="openModal();currentSlide(16)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2018 batch " src="https://drive.google.com/uc?id=1St62r_6cYMTRLvOeZHCyiNJ0FvGf0o1p" onclick="openModal();currentSlide(17)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2018 batch " src="https://drive.google.com/uc?id=1gCI5vQqF8ZsrHkBX8jkNexfcawtfY9_G" onclick="openModal();currentSlide(18)" width="100%" height="190.5px"> </div>

            </div>

            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec Cse ADGITM 2018 batch " src="https://drive.google.com/uc?id=1aaT7AoFQa3mIvVXWOIlyD-0xjgj9RHKI" onclick="openModal();currentSlide(7)" width="100%" height="190.5px"> </div>

            </div>
            <!--<div class="card gallery-card-settings" >-->
                <!--<div class="card-img-top"><img alt="Niec Cse ADGITM 2018 batch " src="https://drive.google.com/uc?id=1R1J4H9e5tdNdn1BZY50B7UjMHfCtBp9B" onclick="openModal();currentSlide(7)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->


            <!--<div class="card gallery-card-settings">-->
                <!--<div class="card-img-top"><img src="files/playonevent/playon1.jpg" onclick="openModal();currentSlide(8)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings">-->
                <!--<div class="card-img-top"><img src="files/playonevent/playon2.jpg" onclick="openModal();currentSlide(9)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
                <!--<div class="card-img-top"><img src="files/playonevent/playon3.jpg" onclick="openModal();currentSlide(10)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
                <!--<div class="card-img-top"><img src="files/playonevent/playon4.jpg" onclick="openModal();currentSlide(11)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
                <!--<div class="card-img-top"><img src="files/playonevent/playon5.jpg" onclick="openModal();currentSlide(12)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
        </div>
        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1x40mcSI9Gz17LoERuPyFChi48fKV9kO-" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1O4sfQ7cRsBAgBz-7EMhHp0Zr86_-yTHo" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1brfdkiYCcpqAR5XOSj4irh1k3u7LxtNX" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1mxc1wolqwpnmbN8mffOBIYfa_pWf6rgl" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1MKNmuOifVR2xd1BI-E-erJaERHdRub07" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1zTcxpzIFH9pYQh74e3b4VeugmqcKlhcU" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1eYyQnq8cmDsDjMKfx1cxchUL-H9jni8_" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1-0tm6KMXbGU2xNTgz0sn1_Q2DJYD_hg-" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1_NmQNGOAThqe_x3TO_ageiWacVSz2nQa" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1EjQor6Zd3CVyFA2ZhAL07HibbIW0Fhr8" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1Zh0GLOnu1i8mzxlxkyXgyJCeQ1rg7n34" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1H0tu5LGEHJL-hVl9mq62duw5T-yyjeKf" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1gs57XJGs5I2jQX4lSQAE_xo6CoPjThDN" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1AZEzE9WQkZDsHmPTevYtBkTL9bQDkCVq" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1R1J4H9e5tdNdn1BZY50B7UjMHfCtBp9B" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1XNAVp6JyIetYKMwRYF7fCSzd9JAD1wio" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1St62r_6cYMTRLvOeZHCyiNJ0FvGf0o1p" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1gCI5vQqF8ZsrHkBX8jkNexfcawtfY9_G" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1aaT7AoFQa3mIvVXWOIlyD-0xjgj9RHKI" style="width:100%">
                </div>

                <!--<div class="mySlides">-->
                    <!--<img src="files/playonevent/playon1.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                    <!--<img src="files/playonevent/playon2.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                    <!--<img src="files/playonevent/playon3.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                    <!--<img src="files/playonevent/playon4.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                    <!--<img src="files/playonevent/playon5.jpg" style="width:100%">-->
                <!--</div>-->


                <a class="prev btn btn-dark" style="color: white" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next btn btn-dark" style="color: white" onclick="plusSlides(1)">&#10095;</a>

            </div>
        </div>

        <script>
            function openModal() {
                document.getElementById('myModal').style.display = "block";
            }

            function closeModal() {
                document.getElementById('myModal').style.display = "none";
            }

            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                console.log(slides);
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex-1].style.display = "block";
            }
        </script>
    </div>
</div>