<link href="css/gallery/image_gallery_homepage.css" rel="stylesheet">

<div class="first" style="background-color:#F7F7F7; box-shadow:2px 1px;">
    <a class="container">
        <h1>Gallery</h1>
        <h5>Cherish Your College Days with Our Gallery. </h5>
        <a class="link-albums-styling" href="/albums">Albums </a> / <a href="/EEE">EEE</a>
        <br><br><br>
    </a>
</div>
<div class="second">
    <div class="container pb-5 ">

        <br>
        <div class="row pl-md-0 pl-3">
            <div class="card gallery-card-settings">

                <div class="card-img-top"><img alt="Niec EEE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1g96usOQRdOAZMVgq6i5NAT0kkBkSfv9F" onclick="openModal();currentSlide(1)" width="100%" height="190.5px"> </div>
            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec EEE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1XNPl8ZX_ZYTUdXOqvuHdToDbVX_qXj5h" onclick="openModal();currentSlide(2)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec EEE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1Gyy-uNd-v-6_JE744P8tmpk8sCE9wCci" onclick="openModal();currentSlide(3)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec EEE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1u8dBJhRP_N55fxkGAdJMfb0Nal0JtYIs" onclick="openModal();currentSlide(4)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img src="https://drive.google.com/uc?id=17I2nlS0JSu4IqklHKnvvTPXgBVtWWPIa" onclick="openModal();currentSlide(5)" height="190px" width="100%"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec EEE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1z7DfSW5zyIE-kSehVCJO2ZxyD35kGWYO" onclick="openModal();currentSlide(6)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec EEE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1MFhNIsg-JUtggt74GPjY5wS6MR50qbs5" onclick="openModal();currentSlide(7)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec EEE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1mBHE0aqIGu-ItCOEh5ewcwrDgxsL4AGO" onclick="openModal();currentSlide(8)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec EEE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1JC0gTdndephyBQMgI-ia76Bv6bpvamNX" onclick="openModal();currentSlide(9)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec EEE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1hAEFzPNXyjwo91BiUuOOkq8n8XafE3A-" onclick="openModal();currentSlide(10)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec EEE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1yLnjV5LFoPsgCh_E1RxTvIwm2TWiCEqT" onclick="openModal();currentSlide(11)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec EEE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1Ai4xqbfYW3QG2dKy2DzDs5sCvzbRiEEG" onclick="openModal();currentSlide(12)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec EEE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1BXkTE5xwL7sR7VYunRQ0QJMK_-YfNyIR" onclick="openModal();currentSlide(13)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec EEE ADGITM 2014 batch " src="https://drive.google.com/uc?id=19Ak8wnd8likLrXpjHzDyBPLRGWskP4rI" onclick="openModal();currentSlide(14)" width="100%" height="190.5px"> </div>

            </div>
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="Gallery-Pics/CSE/2018/CSE/CSE_2018_2.jpg" onclick="openModal();currentSlide(7)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings">-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon1.jpg" onclick="openModal();currentSlide(8)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings">-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon2.jpg" onclick="openModal();currentSlide(9)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon3.jpg" onclick="openModal();currentSlide(10)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon4.jpg" onclick="openModal();currentSlide(11)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon5.jpg" onclick="openModal();currentSlide(12)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
        </div>
        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1g96usOQRdOAZMVgq6i5NAT0kkBkSfv9F" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1XNPl8ZX_ZYTUdXOqvuHdToDbVX_qXj5h" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1Gyy-uNd-v-6_JE744P8tmpk8sCE9wCci" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1u8dBJhRP_N55fxkGAdJMfb0Nal0JtYIs" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=17I2nlS0JSu4IqklHKnvvTPXgBVtWWPIa" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1z7DfSW5zyIE-kSehVCJO2ZxyD35kGWYO" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1MFhNIsg-JUtggt74GPjY5wS6MR50qbs5" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1mBHE0aqIGu-ItCOEh5ewcwrDgxsL4AGO" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1JC0gTdndephyBQMgI-ia76Bv6bpvamNX" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1hAEFzPNXyjwo91BiUuOOkq8n8XafE3A-" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1yLnjV5LFoPsgCh_E1RxTvIwm2TWiCEqT" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1Ai4xqbfYW3QG2dKy2DzDs5sCvzbRiEEG" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1BXkTE5xwL7sR7VYunRQ0QJMK_-YfNyIR" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=19Ak8wnd8likLrXpjHzDyBPLRGWskP4rI" style="width:100%">
                </div>
                <!--<div class="mySlides">-->
                <!--<img src="Gallery-Pics/CSE/2018/CSE/CSE_2018_2.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon1.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon2.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon3.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon4.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon5.jpg" style="width:100%">-->
                <!--</div>-->


                <a class="prev btn btn-dark" style="color: white" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next btn btn-dark" style="color: white" onclick="plusSlides(1)">&#10095;</a>

            </div>
        </div>

        <script>
            function openModal() {
                document.getElementById('myModal').style.display = "block";
            }

            function closeModal() {
                document.getElementById('myModal').style.display = "none";
            }

            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                console.log(slides);
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex-1].style.display = "block";
            }
        </script>
    </div>
</div>