<link href="css/gallery/image_gallery_homepage.css" rel="stylesheet">

<div class="first" style="background-color:#F7F7F7; box-shadow:2px 1px;">
    <a class="container">
        <h1>Gallery</h1>
        <h5>Cherish Your College Days with Our Gallery. </h5>
        <a class="link-albums-styling" href="/albums">Albums </a> / <a href="/IT">IT</a>
        <br><br><br>
    </a>
</div>
<div class="second">
    <div class="container pb-5 ">

        <br>
        <div class="row pl-md-0 pl-3">
            <div class="card gallery-card-settings">

                <div class="card-img-top"><img alt="Niec IT information technology ADGITM 2016 batch  " src="https://drive.google.com/uc?id=1I1GpE9E0vg41yHsucRqZbffA73jtJW7s" onclick="openModal();currentSlide(1)" width="100%" height="190.5px"> </div>
            </div>
            <div class="card gallery-card-settings">

                <div class="card-img-top"><img alt="Niec IT information technology ADGITM 2016 batch  " src="https://drive.google.com/uc?id=1sNXm7Ooj7ZDPyycLNoEDEHz6k-DUwnrC" onclick="openModal();currentSlide(1)" width="100%" height="190.5px"> </div>
            </div>
            <div class="card gallery-card-settings">

                <div class="card-img-top"><img alt="Niec IT information technology ADGITM 2016 batch  " src="https://drive.google.com/uc?id=1CD018fAwbRq2fN72iVkoHzqH5n0w3_9X" onclick="openModal();currentSlide(1)" width="100%" height="190.5px"> </div>
            </div>
            <div class="card gallery-card-settings">

                <div class="card-img-top"><img alt="Niec IT information technology ADGITM 2016 batch  " src="https://drive.google.com/uc?id=1R7OUbFC3E76JobnKQU0mc0gJWns1ekno" onclick="openModal();currentSlide(1)" width="100%" height="190.5px"> </div>
            </div>
            <div class="card gallery-card-settings">

                <div class="card-img-top"><img alt="Niec IT information technology ADGITM 2016 batch  " src="https://drive.google.com/uc?id=1YXjzI_aHYaR03CJUJVYHZs5h5r7BhQo9" onclick="openModal();currentSlide(1)" width="100%" height="190.5px"> </div>
            </div>
            <div class="card gallery-card-settings">

                <div class="card-img-top"><img alt="Niec IT information technology ADGITM 2016 batch  " src="https://drive.google.com/uc?id=1TklcSPhXZZPvdqRonSXU4gsjmYxFNDnE" onclick="openModal();currentSlide(1)" width="100%" height="190.5px"> </div>
            </div>
            <div class="card gallery-card-settings">

                <div class="card-img-top"><img alt="Niec IT information technology ADGITM 2016 batch  " src="https://drive.google.com/uc?id=1JxQOPY3Lrlq_dRcm0-nrvekYwShJfrIk" onclick="openModal();currentSlide(1)" width="100%" height="190.5px"> </div>
            </div>
            <div class="card gallery-card-settings">

                <div class="card-img-top"><img alt="Niec IT information technology ADGITM 2016 batch  " src="https://drive.google.com/uc?id=1I1GpE9E0vg41yHsucRqZbffA73jtJW7s" onclick="openModal();currentSlide(1)" width="100%" height="190.5px"> </div>
            </div>
            <div class="card gallery-card-settings">

                <div class="card-img-top"><img alt="Niec IT information technology ADGITM 2016 batch  " src="https://drive.google.com/uc?id=1hPrKyYuZHFxjxBHiCBBZPKho2EoWoSbx" onclick="openModal();currentSlide(1)" width="100%" height="190.5px"> </div>
            </div>
            <!--<div class="card gallery-card-settings" >-->
                <!--<div class="card-img-top"><img src="Gallery-Pics/CSE/2015/CSE/CSE_2015_1.jpg" onclick="openModal();currentSlide(2)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
                <!--<div class="card-img-top"><img src="Gallery-Pics/CSE/2015/CSE/CSE_2015_3.jpg" onclick="openModal();currentSlide(3)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings">-->
                <!--<div class="card-img-top"><img src="Gallery-Pics/CSE/2017/CSE/CSE_2017_1.jpg" onclick="openModal();currentSlide(4)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
                <!--<div class="card-img-top"><img src="Gallery-Pics/CSE/2017/CSE/CSE_2017_2.jpg" onclick="openModal();currentSlide(5)" height="190px" width="100%"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings">-->
                <!--<div class="card-img-top"><img src="Gallery-Pics/CSE/2018/CSE/CSE_2018_1.jpg" onclick="openModal();currentSlide(6)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
                <!--<div class="card-img-top"><img src="Gallery-Pics/CSE/2018/CSE/CSE_2018_2.jpg" onclick="openModal();currentSlide(7)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings">-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon1.jpg" onclick="openModal();currentSlide(8)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings">-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon2.jpg" onclick="openModal();currentSlide(9)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon3.jpg" onclick="openModal();currentSlide(10)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon4.jpg" onclick="openModal();currentSlide(11)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon5.jpg" onclick="openModal();currentSlide(12)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
        </div>
        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

                <div class="mySlides">
                    <img src="Gallery-Pics/IT/IT/2016_it.jpg" style="width:100%">
                </div>

                <!--<div class="mySlides">-->
                    <!--<img src="Gallery-Pics/CSE/2015/CSE/CSE_2015_2.jpg" style="width:100%">-->
                <!--</div>-->

                <!--<div class="mySlides">-->
                    <!--<img src="Gallery-Pics/CSE/2015/CSE/CSE_2015_3.jpg" style="width:100%">-->
                <!--</div>-->

                <!--<div class="mySlides">-->
                    <!--<img src="Gallery-Pics/CSE/2017/CSE/CSE_2017_1.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                    <!--<img src="Gallery-Pics/CSE/2017/CSE/CSE_2017_2.jpg" style="width:100%">-->
                <!--</div>-->

                <!--<div class="mySlides">-->
                    <!--<img src="Gallery-Pics/CSE/2018/CSE/CSE_2018_1.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                    <!--<img src="Gallery-Pics/CSE/2018/CSE/CSE_2018_2.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon1.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon2.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon3.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon4.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon5.jpg" style="width:100%">-->
                <!--</div>-->


                <a class="prev btn btn-dark" style="color: white" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next btn btn-dark" style="color: white" onclick="plusSlides(1)">&#10095;</a>

            </div>
        </div>

        <script>
            function openModal() {
                document.getElementById('myModal').style.display = "block";
            }

            function closeModal() {
                document.getElementById('myModal').style.display = "none";
            }

            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                console.log(slides);
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex-1].style.display = "block";
            }
        </script>
    </div>
</div>