<link href="css/gallery/image_gallery_homepage.css" rel="stylesheet">

<div class="first" style="background-color:#F7F7F7; box-shadow:2px 1px;">
    <a class="container">
        <h1>Gallery</h1>
        <h5>Cherish Your College Days with Our Gallery. </h5>
        <a class="link-albums-styling" href="/albums">Albums </a> / <a href="/MAE">MAE</a>
        <br><br><br>
    </a>
</div>
<div class="second">
    <div class="container pb-5 ">

        <br>
        <div class="row pl-md-0 pl-3">
            <div class="card gallery-card-settings">

                <div class="card-img-top"><img alt="Niec MAE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1wTsK65JDMxRRUz8FpozivKnPdU1kS0Bl" onclick="openModal();currentSlide(1)" width="100%" height="190.5px"> </div>
            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec MAE ADGITM 2014 batch " src="https://drive.google.com/uc?id=135AP2_NwrKDGVYp1ElNGSqYN_ZmaLKTS" onclick="openModal();currentSlide(2)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img alt="Niec MAE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1PbLuo8zFzy8OuST0popS70JQKhO-8E__" onclick="openModal();currentSlide(3)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MAE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1l-u9VxCF9aY4BNyn-4uVeD9Q9u4cy6pK" onclick="openModal();currentSlide(4)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
                <div class="card-img-top"><img src="https://drive.google.com/uc?id=1MWeUD289IrIVKpj2K0BxeSDGkXKShqmY" onclick="openModal();currentSlide(5)" height="190px" width="100%"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MAE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1A2BtUsjFO7S4e6IQoZlRWHuR_ONFUu_k" onclick="openModal();currentSlide(6)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MAE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1x8oV60o5Rq1-NpxjsKmaWlSh9badKtsK" onclick="openModal();currentSlide(6)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MAE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1bvzoBtkjN5tkz_zKgujHZC97mtmw3Qda" onclick="openModal();currentSlide(6)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MAE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1RPYmTkmrhBj_q-A6S1CMWNxmyBPpJT38" onclick="openModal();currentSlide(6)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MAE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1d_7LgJWym_VgzAiRVNAk3eo3TyKXIsUu" onclick="openModal();currentSlide(6)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MAE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1JkzzybNhTrTQ0H7JoNa_FUBAUIhC8Uq6" onclick="openModal();currentSlide(6)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MAE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1dhY3Tv3XXrg-V36KTsmjPWL5rsul4sYu" onclick="openModal();currentSlide(6)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MAE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1AR596LtkeSn0BEyPtWN2pSygPvy9weeD" onclick="openModal();currentSlide(6)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MAE ADGITM 2014 batch " src="https://drive.google.com/uc?id=1HppLkw6vMVjiFfwYjypZvdnJPgVMLT8n" onclick="openModal();currentSlide(6)" width="100%" height="190.5px"> </div>

            </div>
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="Gallery-Pics/CSE/2018/CSE/CSE_2018_2.jpg" onclick="openModal();currentSlide(7)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings">-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon1.jpg" onclick="openModal();currentSlide(8)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings">-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon2.jpg" onclick="openModal();currentSlide(9)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon3.jpg" onclick="openModal();currentSlide(10)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon4.jpg" onclick="openModal();currentSlide(11)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon5.jpg" onclick="openModal();currentSlide(12)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
        </div>
        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

                <div class="mySlides">
                    <img src="Gallery-Pics/MCA/2014/MCA/MCA_2014_1.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="Gallery-Pics/MCA/2014/MCA/MCA_2014_2.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="Gallery-Pics/MCA/2014/MCA/MCA_2014_3.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="Gallery-Pics/MCA/2014/MCA/MCA_2014_4.jpg" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="Gallery-Pics/MCA/2014/MCA/MCA_2014_5.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="Gallery-Pics/MCA/2014/MCA/MCA_2014_6.jpg" style="width:100%">
                </div>
                <!--<div class="mySlides">-->
                <!--<img src="Gallery-Pics/CSE/2018/CSE/CSE_2018_2.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon1.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon2.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon3.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon4.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon5.jpg" style="width:100%">-->
                <!--</div>-->


                <a class="prev btn btn-dark" style="color: white" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next btn btn-dark" style="color: white" onclick="plusSlides(1)">&#10095;</a>

            </div>
        </div>

        <script>
            function openModal() {
                document.getElementById('myModal').style.display = "block";
            }

            function closeModal() {
                document.getElementById('myModal').style.display = "none";
            }

            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                console.log(slides);
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex-1].style.display = "block";
            }
        </script>
    </div>
</div>