<link href="css/gallery/image_gallery_homepage.css" rel="stylesheet">

<div class="first" style="background-color:#F7F7F7; box-shadow:2px 1px;">
    <a class="container">
        <h1>Gallery</h1>
        <h5>Cherish Your College Days with Our Gallery. </h5>
        <a class="link-albums-styling" href="/albums">Albums </a> / <a href="/MCA">MCA</a>
        <br><br><br>
    </a>
</div>
<div class="second">
    <div class="container pb-5 ">

        <br>
        <div class="row pl-md-0 pl-3">
            <div class="card gallery-card-settings">

                <div class="card-img-top"><img alt="Niec MCA ADGITM 2014 batch " src="https://drive.google.com/uc?id=1SazkmP1tSxASxaczENGMbeIKmu-eiT1o" onclick="openModal();currentSlide(1)" width="100%" height="190.5px"> </div>
            </div>
            <div class="card gallery-card-settings" >
            <div class="card-img-top"><img alt="Niec MCA ADGITM 2014 batch " src="https://drive.google.com/uc?id=1s-VMBos1J_SwZzNHgryWYaafzSQ46aBe" onclick="openModal();currentSlide(2)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
            <div class="card-img-top"><img alt="Niec MCA ADGITM 2014 batch " src="https://drive.google.com/uc?id=1x78RNF8bbaceZbQNuhq6YyMzcdLca35l" onclick="openModal();currentSlide(3)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
            <div class="card-img-top"><img alt="Niec MCA ADGITM 2014 batch " src="https://drive.google.com/uc?id=1W4D0k9-bZc4X7Cr4VX8nDxNvX4U0aytl" onclick="openModal();currentSlide(4)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings" >
            <div class="card-img-top"><img src="https://drive.google.com/uc?id=1lbIolMGwesLL2hJLo8HaW22FwqldtBMP" onclick="openModal();currentSlide(5)" height="190px" width="100%"> </div>

            </div>
            <div class="card gallery-card-settings">
            <div class="card-img-top"><img alt="Niec MCA ADGITM 2014 batch " src="https://drive.google.com/uc?id=12Ny3DbRJtJaxznDnWmPmkJskbt50VRry" onclick="openModal();currentSlide(6)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MCA ADGITM 2014 batch " src="https://drive.google.com/uc?id=1l2ZvseiNztjkViEwxHazj3uu5QWD_qlU" onclick="openModal();currentSlide(7)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MCA ADGITM 2014 batch " src="https://drive.google.com/uc?id=1AOD2a4_c7mkRgCMr_L16f0PP7je9njOf" onclick="openModal();currentSlide(8)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MCA ADGITM 2014 batch " src="https://drive.google.com/uc?id=1YecitfoLAfjWDnbkzw4GOatqLBwUFnqu" onclick="openModal();currentSlide(9)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MCA ADGITM 2014 batch " src="https://drive.google.com/uc?id=1ARBAxdARfbxp4d3i05lvdC1JWtSMSrpz" onclick="openModal();currentSlide(10)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MCA ADGITM 2014 batch " src="https://drive.google.com/uc?id=1rChznCWG3MQPDQRRPcrJ7RKiY96XHv7d" onclick="openModal();currentSlide(11)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MCA ADGITM 2014 batch " src="https://drive.google.com/uc?id=1lzb-YPJpbrM0-Kld5DD3O9rcj9obyMkq" onclick="openModal();currentSlide(12)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MCA ADGITM 2014 batch " src="https://drive.google.com/uc?id=1x78RNF8bbaceZbQNuhq6YyMzcdLca35l" onclick="openModal();currentSlide(13)" width="100%" height="190.5px"> </div>

            </div>
            <div class="card gallery-card-settings">
                <div class="card-img-top"><img alt="Niec MCA ADGITM 2014 batch " src="https://drive.google.com/uc?id=1ZD8W3BeYaefeO8vltUc-OVQeKw44MXuH" onclick="openModal();currentSlide(14)" width="100%" height="190.5px"> </div>

            </div>
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="Gallery-Pics/CSE/2018/CSE/CSE_2018_2.jpg" onclick="openModal();currentSlide(7)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings">-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon1.jpg" onclick="openModal();currentSlide(8)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings">-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon2.jpg" onclick="openModal();currentSlide(9)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon3.jpg" onclick="openModal();currentSlide(10)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon4.jpg" onclick="openModal();currentSlide(11)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
            <!--<div class="card gallery-card-settings" >-->
            <!--<div class="card-img-top"><img src="files/playonevent/playon5.jpg" onclick="openModal();currentSlide(12)" width="100%" height="190.5px"> </div>-->

            <!--</div>-->
        </div>
        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1SazkmP1tSxASxaczENGMbeIKmu-eiT1o" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1s-VMBos1J_SwZzNHgryWYaafzSQ46aBe" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1x78RNF8bbaceZbQNuhq6YyMzcdLca35l" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1W4D0k9-bZc4X7Cr4VX8nDxNvX4U0aytl" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1lbIolMGwesLL2hJLo8HaW22FwqldtBMP" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=12Ny3DbRJtJaxznDnWmPmkJskbt50VRry" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1l2ZvseiNztjkViEwxHazj3uu5QWD_qlU" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1AOD2a4_c7mkRgCMr_L16f0PP7je9njOf" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1YecitfoLAfjWDnbkzw4GOatqLBwUFnqu" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1ARBAxdARfbxp4d3i05lvdC1JWtSMSrpz" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1rChznCWG3MQPDQRRPcrJ7RKiY96XHv7d" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1lzb-YPJpbrM0-Kld5DD3O9rcj9obyMkq" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1x78RNF8bbaceZbQNuhq6YyMzcdLca35l" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="https://drive.google.com/uc?id=1ZD8W3BeYaefeO8vltUc-OVQeKw44MXuH" style="width:100%">
                </div>




                <!--<div class="mySlides">-->
                <!--<img src="Gallery-Pics/CSE/2018/CSE/CSE_2018_2.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon1.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon2.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon3.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon4.jpg" style="width:100%">-->
                <!--</div>-->
                <!--<div class="mySlides">-->
                <!--<img src="files/playonevent/playon5.jpg" style="width:100%">-->
                <!--</div>-->


                <a class="prev btn btn-dark" style="color: white" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next btn btn-dark" style="color: white" onclick="plusSlides(1)">&#10095;</a>

            </div>
        </div>

        <script>
            function openModal() {
                document.getElementById('myModal').style.display = "block";
            }

            function closeModal() {
                document.getElementById('myModal').style.display = "none";
            }

            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                console.log(slides);
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex-1].style.display = "block";
            }
        </script>
    </div>
</div>