<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=168824083963534&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=168824083963534&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<style>
    .alumni-gcg-headings{
        color: rgba(255,0,0,0.8);
        font-family: Roboto;

        font-weight: bold;
    }
    .card-img-settings:hover{
        background-color: rgba(0,0,0,0.4);
        cursor: pointer;
    }
</style>
<div class="container-fluid" id="background-img-div">
    <div class="row justify-content-center">
        <div>
            <img src="files/poster.png" width="100%" height="auto">
        </div>
    </div>
</div>
<!--Container For Main Content And Notable Alumni-->
<div class="container-fluid pt-3 pb-5" style="background-color: rgba(250,250,210,0.3)">
        <div class="row justify-content-center">
        <!--Element for side divs-->
             <div class="col-12 col-lg-10">
            <!--This div is created to match with upper content image-->
                <div class="row">

                 <div class="col-3 pl-1 pr-1" id="side-menu-main">
                    <div class="row">
                        <div class="col-12 col-md-10 pt-2" style="border: 1px solid black;background-color: rgba(0,0,0,0.7)">
                            <h4 style="text-align: center;color: white">Connect with Alumni</h4>
                        </div>
                        <div class="col-12 col-md-10">
                            <ul id="side-div-ul">
                                <li>
                                    <a href=""> Directory</a>
                                    <ul>
                                        <li> <a href="/searchanalumni"> Search An Alumni</a></li>
                                        <li><a href="/searchbyresource"> Search by Resource</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href=""> Events </a>
                                    <ul>
                                        <li><a href="/event">All Events</a></li>
                                        {{#if user}}
                                        <li><a href="/postevent"> Request for an event</a></li>
                                        {{else}}
                                            <li><a href="/loginuser"> Request for an event</a></li>

                                        {{/if}}

                                    </ul>
                                </li>
                                <li>
                                    <a href=""> Career</a>
                                    <ul>
                                        <li>
                                            <a href="/jobs"> Jobs</a>


                                        </li>
                                        {{#if user}}
                                        <li>   <a href="/postjobs"> Post a job </a></li>
                                        {{else}}
                                        <li>   <a href="/loginuser"> Post a job </a></li>

                                        {{/if}}
                                        <li>
                                            <a href="/internships"> Internship</a>
                                        </li>
                                        {{#if user}}
                                        <li><a href="/postinternships" >Post an internship</a></li>
                                        {{else}}
                                            <li><a href="/loginuser" >Post an internship</a></li>
                                        {{/if}}

                                    </ul>
                                </li>
                                <li>
                                    <a href="/construction"> More </a>
                                    <ul>
                                        <li>
                                            <a href="/construction"> Glimpse of Alumni </a>
                                        </li>
                                        <li><a href="/volunteer"> Volunteer Opportunities</a></li>
                                        <li><a href="/faqs"> FAQs</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>



                     {{#if user}}

                     {{else}}
                         <div class="row">
                             <div class="col-10 p-4" style="border: 0.5px solid rgba(0,0,0,0.1); background-color: rgb(255,255,255)">
                                 <div class="row">
                                     <div class="col-12">
                                         <h4> Join/Login ADGITM Alumni Network </h4>
                                     </div>
                                     <div class="col-12 p-1">
                                         <p class="mb-0" style="text-align: justify;padding: 10px; font-style: italic;font-size: 18px;font-weight: 300"> Login Faster with Google </p>
                                     </div>
                                     <!--<div class="row justify-content-center"><div class="col-8"><button class="btn btn-dark"><a href="/login">Login</a> </button> </div> </div>-->
                                     <!--<div class="row mt-3 mb-2 justify-content-center"><a style="color: inherit;text-decoration: none" href="/auth/google"><img src="files/homepage_google" class="col-5 col-md-8" width="100%" height="auto" ></img></a></div>-->

                                     <!--<div class="col-6"><a href="/auth/linkedin"> <button class="btn btn-dark">Connect with Linkedin</button></a></div>-->

                                     <div class="col-12"  align="center"><a href="/auth/google"><img align ="center" src = "files/final_google.png" alt="image here" width="100%" height="60px" ></a></div>


                                 </div>
                             </div>
                         </div>
                     {{/if}}

                     <!--Side divs-->
                  </div>

                <!--Central Divs-->
                <div class="col-12 col-md-9 pl-3 pr-1">
                    <div class="row p-2" style="box-shadow: 0 1px 0 #FFF;border-bottom: 1px solid #DDD">
                        <h1 class="central-heading-adgitm">ADGITM ALUMNI</h1>
                     </div>

                    <div class="row mt-3">
                        <div class="col-10">
                            <p> ADGITM values gathering and connecting with old and new and all who have given of their time, talent, and resources to the College. It is in this spirit that we describe the ways in which the College and alumni interact with one another.</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <!--We Connect-->
                        <div class="col-12 col-sm-6 col-md-4 mt-md-0 mb-md-0 mb-2 ">
                            <div class="row pl-3 pr-3">
                                <h2 class="alumni-gcg-headings">We Gather</h2>
                                <div class="col-12 pl-0" style="text-align: justify">
                                    The building of relationships is a critical part of what it means to be a ADGITMian. From the first day on the Hill to a 60th Class Reunion, ADGITM is an integral part of maintaining relationships for alumni and friends of the College. ADGITM offers a variety of ways for alumni and friends of the College to gather together.
                                </div>
                            </div>
                        </div>

                        <!--We Connect-->
                        <div class="col-12 col-sm-6 col-md-4 mt-md-0 mt-2 mb-md-0 mb-2 ">
                            <div class="row pl-3 pr-3">
                                <h2 class="alumni-gcg-headings">We Connect</h2>
                                <div class="col-12 pl-0" style="text-align: justify">
                                    A connection to ADGITM and the resources offered by the College and College Alumni is a critical part of navigating the world after time on the Hill. ADGITM is committed to connecting graduates old and new so that they may fully utilize the College and the resources it offers.
                                </div>
                            </div>
                        </div>

                        <!--We Give-->
                        <div class="col-12 col-sm-6 col-md-4 mt-md-0 mt-2 mb-md-0 mb-2  ">
                            <div class="row pl-3 pr-3">
                                <h2 class="alumni-gcg-headings">We Give</h2>
                                <div class="col-12 pl-0" style="text-align: justify">
                                    The gift of a ADGITM expereince is made possible through the time, talents, and resources of the ADGITM community. Financial gifts ensure student access to the finest faculty and opportunites the College can provide. Through mentoring and direct service students see first hand what it means to live a life of service after time on the Hill.
                                </div>
                            </div>
                        </div>

                     </div>
                    <!--End Of We - Content-->
                    <!--Notable Alumni-->
                    <div class="row mt-5 pt-2 pb-1 pl-sm-0 pr-sm-0 pl-lg-2 pr-lg-2" style="background-color: gray">
                        <div class="col-12 col-lg-11 pl-2">  <h3 id="notable-alumni-heading">Notable Alumni</h3> </div>
                    </div>
                    <!--Alumni Card Row-->
                    <div class="row justify-content-center mt-2">
                        <!--Alumni 1-->
                        <div class="card mr-md-1 mr-1 notable-alumni-cards"align="center">
                            <div class="card-img-top pt-2 pb-2" style="background-color: gray" align="center" >
                                <img class="card-img-settings" src="files/notable-Alumni/rohit-sikka-Google.png" alt="image here" title="Rohit Sikka" width="100%">
                            </div>
                            <div class="card-body" style="height: 150px">


                                <h4 class="notable-alumni-card-body-title"> Rohit Sikka </h4>
                                <p class="card-text pb-1 mb-1"> 2017</p>
                                <p class="card-text pb-1 mt-1"> Developer at Google </p>

                            </div>
                        </div>
                        <!--Alumni 2-->
                        <div class="card ml-md-1 mr-md-1 mr-1 ml-1 notable-alumni-cards" align="center">
                            <div class="card-img-top pt-2 pb-2" style="background-color: gray" align="center" >
                                <img class="card-img-settings" src="files/notable-Alumni/noopur-aroraIBM.png" title="Noopur Arora" alt="image here" width="100%" >
                            </div>
                            <div class="card-body">


                                <h4 class="notable-alumni-card-body-title">Noopur Arora </h4>
                                <p class="card-text pb-1 mb-1"> 2016</p>
                                <p class="card-text pb-1 mb-1">Developer at IBM </p>

                            </div>
                        </div>
                        <!--Alumni 3-->
                        <div class="card mt-md-0 mt-3 ml-md-1 ml-0 mr-md-1 mr-1 notable-alumni-cards" align="center">
                            <div class="card-img-top pt-2 pb-2" style="background-color: gray" align="center" >
                                <img src="files/notable-Alumni/Isha-BhatiyaADOBE.png" title="Isha Bhatiya" alt="image here" width="100%" class="card-img-settings">
                            </div>
                            <div class="card-body">


                                <h4 class="notable-alumni-card-body-title"> Isha Bhatiya </h4>
                                <p class="card-text pb-1 mb-1"> Year of pass</p>
                                <p class="card-text pb-1 mb-1"> Developer at Adobe </p>

                            </div>
                        </div>
                        <!--Alumni 4-->
                        <div class="card ml-md-1 mt-md-0 mt-3 ml-1 notable-alumni-cards" align="center">
                            <div class="card-img-top pt-2 pb-2" style="background-color: gray" align="center" >
                                <img src="files/notable-Alumni/pranjal-jumdeStackRox.png" title="Pranjal" alt="image here" width="100%" class="card-img-settings">
                            </div>
                            <div class="card-body">


                                <h4 class="notable-alumni-card-body-title"> Pranjal Jumde </h4>
                                <p class="card-text pb-1 mb-1"> Year of pass</p>
                                <p class="card-text pb-1 mb-1"> Developer at StackRox </p>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Container For Job Portal And Gallery-->
<div class="container-fluid pt-3" style="background-color: rgba(0,0,0,0.1)">
    <div class="row justify-content-center">
        <!--Element for side divs-->
        <div class="col-12 col-md-11 col-lg-10">
            <!--This div is created to match with upper content image-->
            <div class="row mt-5">

                <div class="col-12 col-lg-3 mb-3 mb-lg-0 " id="side-div-cards-jobportal" style="border-radius: 10px;">
                    <!--Link Bodies-->
                    <div class="card " style="width: 100%;color: white;background-image: url('files/job_portal_backgroundIMG.jpg');background-position: center;background-position-x: 40%">

                    <div class="card-body" style="z-index: 1;background-color: rgba(0,0,0,0.3)">
                        <div class="card-title mb-2" style="font-size: 25px;padding: 5px">Job Portal</div>
                        <div class="card-text " style="margin-left: 6px; width: 30%;height: 3px;background-color: crimson"></div>
                        <div class="card-text mt-2 mb-3">Exchange jobs from your company with fellow Alumni</div>
                        <div class="card-link"> <a style="text-decoration: none" href="/jobs"> <button style="width: 40%" class="btn btn-info">View</button></a> </div>
                    </div>
                </div>
                <!--Alumni Guidance-->
                <div class="card mt-3 " style="width: 100%;color: white;background-image: url('files/alumni_guidanceIMG.jpg');background-position: center;background-position-x: 60%">

                <div class="card-body" style="z-index: 1;background-color: rgba(205,92,92,0.3)">
                    <div class="card-title mb-2" style="font-size: 25px;padding: 5px">Alumni Guidance</div>
                    <div class="card-text " style="margin-left: 6px; width: 30%;height: 3px;background-color: crimson"></div>
                    <div class="card-text mt-2 mb-3">Give advice to your fellow alumni or take guidance from Alumni.</div>
                    <div class="card-link"><a href="/construction"> <button style="width: 40%" class="btn btn-info">View</button> </a> </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-9 pl-1 pr-1 mt-lg-0 mt-2">
            <div class="row pl-lg-3 pl-0">
                <div class="col-12">
                    <div class="row mb-2">
                        <div class="col-7 col-lg-9">
                            <h3 style="margin-left: 20px">Gallery</h3>
                        </div>
                        <div class="col-5 col-lg-3" align="center">
                            <span class="btn btn-dark" style="color: white"><a style="color: inherit" href="/gallery">Go to Gallery</a> </span>
                        </div>
                    </div>

                </div>
                <div class="col-12 pb-3">
                    <div class="row justify-content-center">
                        <div class="col-12" id="gallery-div" align="center">
                            <div class="carousel slide" id="carouselImageGallery" data-ride="carousel">
                                <div class="carousel-inner" style="height: inherit">
                                    <div class="carousel-item active"> <img src="files/demoimg3.jpg" alt="First Slide" width="100%"></div>
                                    <div class="carousel-item"><img src="files/demoimg4.jpg" alt="Second Slide" width="100%"></div>
                                    <div class="carousel-item"><img src="files/demoimg2.jpg" alt="Second Slide" width="100%"></div>

                                </div>
                                <a class="carousel-control-prev" href="#carouselImageGallery" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselImageGallery" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <!--Carousel Image Small Divs-->
                        <div class="card mt-3 ml-2 mr-2 pt-2 pb-2 image-gallery-small-divs">
                                <div class="carousel slide" id="carouselCSE" data-ride="carousel" >
                                    <div class="carousel-inner" style="height: inherit">
                                        <div class="carousel-item active"> <img src="files/demoimg3.jpg" alt="First Slide" ></div>
                                        <div class="carousel-item"><img src="files/demoimg4.jpg" alt="Second Slide" ></div>
                                        <div class="carousel-item"><img src="files/demoimg2.jpg" alt="Second Slide"></div>
                                    </div>

                            </div>
                            <div class="inner-hoverable-carousel-div"><p>CSE</p></div>
                        </div>

                        <div class="card mt-3 ml-2 mr-2 pt-2 pb-2 image-gallery-small-divs">
                            <div class="carousel slide" id="carouselIT" data-ride="carousel" >
                                <div class="carousel-inner" style="height: inherit">
                                    <div class="carousel-item active"> <img src="files/demoimg3.jpg" alt="First Slide" ></div>
                                    <div class="carousel-item"><img src="files/demoimg4.jpg" alt="Second Slide" ></div>
                                    <div class="carousel-item"><img src="files/demoimg2.jpg" alt="Second Slide"></div>
                                </div>

                            </div>
                            <div class="inner-hoverable-carousel-div"><p>IT</p></div>
                        </div>

                        <!--Mechanical Branch-->
                        <div class="card mt-3 ml-2 mr-2 pt-2 pb-2 image-gallery-small-divs">
                            <div class="carousel slide" id="carouselCSE" data-ride="carousel" >
                                <div class="carousel-inner" style="height: inherit">
                                    <div class="carousel-item active"> <img src="files/demoimg3.jpg" alt="First Slide" ></div>
                                    <div class="carousel-item"><img src="files/demoimg4.jpg" alt="Second Slide" ></div>
                                    <div class="carousel-item"><img src="files/demoimg2.jpg" alt="Second Slide"></div>
                                </div>

                            </div>
                            <div class="inner-hoverable-carousel-div"><p>MECH</p></div>
                        </div>


                        <!--Civil Branch-->
                        <div class="card mt-3 ml-2 mr-2 pt-2 pb-2 image-gallery-small-divs special-small-divs">
                            <div class="carousel slide" id="carouselCSE" data-ride="carousel" >
                                <div class="carousel-inner" style="height: inherit">
                                    <div class="carousel-item active"> <img src="files/demoimg3.jpg" alt="First Slide" ></div>
                                    <div class="carousel-item"><img src="files/demoimg4.jpg" alt="Second Slide" ></div>
                                    <div class="carousel-item"><img src="files/demoimg2.jpg" alt="Second Slide"></div>
                                </div>

                            </div>
                            <div class="inner-hoverable-carousel-div"><p>CIVIL</p></div>
                        </div>


                        <!--EEE Branch-->
                        <div class="card mt-3 ml-2 mr-2 pt-2 pb-2 image-gallery-small-divs special-small-divs">
                            <div class="carousel slide" id="carouselCSE" data-ride="carousel" >
                                <div class="carousel-inner" style="height: inherit">
                                    <div class="carousel-item active"> <img src="files/demoimg3.jpg" alt="First Slide" ></div>
                                    <div class="carousel-item"><img src="files/demoimg4.jpg" alt="Second Slide" ></div>
                                    <div class="carousel-item"><img src="files/demoimg2.jpg" alt="Second Slide"></div>
                                </div>

                            </div>
                            <div class="inner-hoverable-carousel-div"><p>EEE</p></div>
                        </div>


                        <!--ECE Branch-->
                        <div class="card mt-3 ml-2 mr-2 pt-2 pb-2 image-gallery-small-divs special-small-divs">
                            <div class="carousel slide" id="carouselCSE" data-ride="carousel" >
                                <div class="carousel-inner" style="height: inherit">
                                    <div class="carousel-item active"> <img src="files/demoimg3.jpg" alt="First Slide" ></div>
                                    <div class="carousel-item"><img src="files/demoimg4.jpg" alt="Second Slide" ></div>
                                    <div class="carousel-item"><img src="files/demoimg2.jpg" alt="Second Slide"></div>
                                </div>

                            </div>
                            <div class="inner-hoverable-carousel-div"><p>ECE</p></div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>

<!--Social Media Div-->
<div class="container-fluid mt-5 pb-5" id="socialcontainer">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 " align="center" style="padding-top: 20px"> <h1>ADGITM SOCIAL</h1> </div>
    </div>
    <!--Icons Row-->
    <div class="mt-5 row justify-content-center ml-md-0 ml-1">
        <div class="col-2 col-md-1 p-0 iconsets"><div id="fb" align="center"><i title="Fb page" class="fab fa-facebook-f" ></i></div> </div>
        <div class="col-2 col-md-1 p-0 iconsets"><div id="twitter" align="center"> <i class="fab fa-twitter"></i></div> </div>
        <div class="col-2 col-md-1 p-0 iconsets"><div id="instagram" align="center"> <i class="fab fa-instagram"></i> </div></div>
        <div class="col-2 col-md-1 p-0 iconsets"><div id="youtube" align="center"> <i class="fab fa-youtube"></i> </div></div>

    </div>
    <!--Social Media Stuff Divs -->
    <!--Streaming Data From different Social Media-->
    <div class="row mt-5 justify-content-center" style="height: auto">
        <div class="col-10 col-md-6 col-lg-4 mt-md-0 pr-md-2 pr-0 pl-md-2 pl-3 mb-2" >
            <div class="fb-page" data-href="https://www.facebook.com/alumnicseniec/" data-tabs="timeline" data-width="410" data-height="430" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/alumnicseniec/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/alumnicseniec/">Alumni CSE Adgitm</a></blockquote></div>
        </div>
        <div class="col-10 col-md-6 col-lg-4 pr-0 mt-md-0 mt-3 pl-md-2 pl-3 pr-0 pr-md-2 mb-2" >
            <a class="twitter-timeline" data-width="410" data-height="430" href="https://twitter.com/adgitm_delhi?ref_src=twsrc%5Etfw">Tweets by ADGITM</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-10 col-md-6 col-lg-4 pr-0 mt-md-0 mt-3 pl-3 pl-md-2 pr-0 pr-md-2 mb-2" >
        <div class="fb-page" data-href="https://www.facebook.com/Adgitm-It-Alumni-formerly-NIEC-1840900402900099/" data-tabs="timeline" data-width="410" data-height="430" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Adgitm-It-Alumni-formerly-NIEC-1840900402900099/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Adgitm-It-Alumni-formerly-NIEC-1840900402900099/">Adgitm It Alumni -formerly NIEC</a></blockquote></div>
        </div>
    </div>
</div>
<!--footer map -->
<div class="container-fluid p-0" id="footermapcontainer">
    <div class="row m-0 justify-content-center" id="footermapimg">
        <div class="col-12 " style="background-color: #1d2124;opacity: 0.55;box-shadow: inset -5px 2px 15px 13px black;z-index: 0" ></div>
        <div class="col-12 col-sm-10 p-4" style="opacity: 1;color: white;position: absolute" id="footermaptext">
            <div class="row justify-content-center mt-3 ml-2 mr-2 mb-3">
                <div class="col-12 col-sm-8 " align="center" id="footermapheading">Alumni Around The World</div>
            </div>
            <div class="row p-4 justify-content-center">
                <div class="col-4" style="color: white; position: relative">
                    <div class="svgdivalign"> <svg class="buildingfooter"  height="47px" width="47px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                    <g>
                                        <path stroke-opacity="0.6" stroke="#1b86bc" d="M59,24h-3v-5c0-0.6-0.4-1-1-1H45c-0.6,0-1,0.4-1,1v5h-3c-0.6,0-1,0.4-1,1v9H24V19c0-0.6-0.4-1-1-1h-3v-7c0-0.6-0.4-1-1-1
                                        h-7V1c0-0.6-0.4-1-1-1s-1,0.4-1,1v9H5c-0.6,0-1,0.4-1,1v7H1c-0.6,0-1,0.4-1,1v40c0,0.6,0.4,1,1,1h8h4h10h18h8h4h6c0.6,0,1-0.4,1-1
                                        V25C60,24.4,59.6,24,59,24z M46,20h8v4h-8V20z M40,36v22H24V36H40z M6,12h12v6H6V12z M2,20h3h14h3v38h-8v-5c0-0.6-0.4-1-1-1H9
                                        c-0.6,0-1,0.4-1,1v5H2V20z M10,58v-4h2v4H10z M50,58v-4h2v4H50z M58,58h-4v-5c0-0.6-0.4-1-1-1h-4c-0.6,0-1,0.4-1,1v5h-6V26h3h10h3
                                        V58z"></path>
                                        <path d="M15,14H9c-0.6,0-1,0.4-1,1s0.4,1,1,1h6c0.6,0,1-0.4,1-1S15.6,14,15,14z"></path>
                                        <path d="M5,28h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,28,5,28z"></path>
                                        <path d="M5,24h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,24,5,24z"></path>
                                        <path d="M5,32h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,32,5,32z"></path>
                                        <path d="M5,36h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,36,5,36z"></path>
                                        <path d="M5,40h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,40,5,40z"></path>
                                        <path d="M5,44h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,44,5,44z"></path>
                                        <path d="M19,48c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1s0.4,1,1,1H19z"></path>
                                        <path d="M45,28c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1s-0.4-1-1-1H45z"></path>
                                        <path d="M55,32H45c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S55.6,32,55,32z"></path>
                                        <path d="M55,36H45c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S55.6,36,55,36z"></path>
                                        <path d="M55,40H45c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S55.6,40,55,40z"></path>
                                        <path d="M55,48H45c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S55.6,48,55,48z"></path>
                                        <path d="M55,44H45c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S55.6,44,55,44z"></path>
                                        <path d="M27,42h10c0.6,0,1-0.4,1-1s-0.4-1-1-1H27c-0.6,0-1,0.4-1,1S26.4,42,27,42z"></path>
                                        <path d="M27,46h10c0.6,0,1-0.4,1-1s-0.4-1-1-1H27c-0.6,0-1,0.4-1,1S26.4,46,27,46z"></path>
                                        <path d="M37,48H27c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S37.6,48,37,48z"></path>
                                    </g>
                                </svg>
                    </div>
                    <div class="svginnerdivtext">
                        <div class="svginnerdivsalignment" >BANGALORE</div>
                        <div style="margin-left: 3px;font-weight: bold">
                            250 Alumni
                        </div>
                    </div>
                </div>
                <div class="col-4" align="center">
                    <div class="svgdivalign"> <svg class="buildingfooter"  height="47px" width="47px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                    <g>
                                        <path stroke-opacity="0.6" stroke="#1b86bc" d="M59,24h-3v-5c0-0.6-0.4-1-1-1H45c-0.6,0-1,0.4-1,1v5h-3c-0.6,0-1,0.4-1,1v9H24V19c0-0.6-0.4-1-1-1h-3v-7c0-0.6-0.4-1-1-1
                                        h-7V1c0-0.6-0.4-1-1-1s-1,0.4-1,1v9H5c-0.6,0-1,0.4-1,1v7H1c-0.6,0-1,0.4-1,1v40c0,0.6,0.4,1,1,1h8h4h10h18h8h4h6c0.6,0,1-0.4,1-1
                                        V25C60,24.4,59.6,24,59,24z M46,20h8v4h-8V20z M40,36v22H24V36H40z M6,12h12v6H6V12z M2,20h3h14h3v38h-8v-5c0-0.6-0.4-1-1-1H9
                                        c-0.6,0-1,0.4-1,1v5H2V20z M10,58v-4h2v4H10z M50,58v-4h2v4H50z M58,58h-4v-5c0-0.6-0.4-1-1-1h-4c-0.6,0-1,0.4-1,1v5h-6V26h3h10h3
                                        V58z"></path>
                                        <path d="M15,14H9c-0.6,0-1,0.4-1,1s0.4,1,1,1h6c0.6,0,1-0.4,1-1S15.6,14,15,14z"></path>
                                        <path d="M5,28h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,28,5,28z"></path>
                                        <path d="M5,24h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,24,5,24z"></path>
                                        <path d="M5,32h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,32,5,32z"></path>
                                        <path d="M5,36h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,36,5,36z"></path>
                                        <path d="M5,40h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,40,5,40z"></path>
                                        <path d="M5,44h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,44,5,44z"></path>
                                        <path d="M19,48c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1s0.4,1,1,1H19z"></path>
                                        <path d="M45,28c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1s-0.4-1-1-1H45z"></path>
                                        <path d="M55,32H45c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S55.6,32,55,32z"></path>
                                        <path d="M55,36H45c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S55.6,36,55,36z"></path>
                                        <path d="M55,40H45c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S55.6,40,55,40z"></path>
                                        <path d="M55,48H45c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S55.6,48,55,48z"></path>
                                        <path d="M55,44H45c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S55.6,44,55,44z"></path>
                                        <path d="M27,42h10c0.6,0,1-0.4,1-1s-0.4-1-1-1H27c-0.6,0-1,0.4-1,1S26.4,42,27,42z"></path>
                                        <path d="M27,46h10c0.6,0,1-0.4,1-1s-0.4-1-1-1H27c-0.6,0-1,0.4-1,1S26.4,46,27,46z"></path>
                                        <path d="M37,48H27c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S37.6,48,37,48z"></path>
                                    </g>
                                </svg>
                    </div>
                    <div class="svginnerdivtext">
                        <div class="svginnerdivsalignment" >DELHI</div>
                        <div style="margin-left: 3px;font-weight: bold">
                            150 Alumni
                        </div>
                    </div>
                </div>
                <div class="col-4" align="center" >
                    <div class="svgdivalign"> <svg class="buildingfooter"  height="47px" width="47px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                    <g>
                                        <path stroke-opacity="0.6" stroke="#1b86bc" d="M59,24h-3v-5c0-0.6-0.4-1-1-1H45c-0.6,0-1,0.4-1,1v5h-3c-0.6,0-1,0.4-1,1v9H24V19c0-0.6-0.4-1-1-1h-3v-7c0-0.6-0.4-1-1-1
                                        h-7V1c0-0.6-0.4-1-1-1s-1,0.4-1,1v9H5c-0.6,0-1,0.4-1,1v7H1c-0.6,0-1,0.4-1,1v40c0,0.6,0.4,1,1,1h8h4h10h18h8h4h6c0.6,0,1-0.4,1-1
                                        V25C60,24.4,59.6,24,59,24z M46,20h8v4h-8V20z M40,36v22H24V36H40z M6,12h12v6H6V12z M2,20h3h14h3v38h-8v-5c0-0.6-0.4-1-1-1H9
                                        c-0.6,0-1,0.4-1,1v5H2V20z M10,58v-4h2v4H10z M50,58v-4h2v4H50z M58,58h-4v-5c0-0.6-0.4-1-1-1h-4c-0.6,0-1,0.4-1,1v5h-6V26h3h10h3
                                        V58z"></path>
                                        <path d="M15,14H9c-0.6,0-1,0.4-1,1s0.4,1,1,1h6c0.6,0,1-0.4,1-1S15.6,14,15,14z"></path>
                                        <path d="M5,28h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,28,5,28z"></path>
                                        <path d="M5,24h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,24,5,24z"></path>
                                        <path d="M5,32h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,32,5,32z"></path>
                                        <path d="M5,36h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,36,5,36z"></path>
                                        <path d="M5,40h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,40,5,40z"></path>
                                        <path d="M5,44h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1S4.4,44,5,44z"></path>
                                        <path d="M19,48c0.6,0,1-0.4,1-1s-0.4-1-1-1H5c-0.6,0-1,0.4-1,1s0.4,1,1,1H19z"></path>
                                        <path d="M45,28c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1s-0.4-1-1-1H45z"></path>
                                        <path d="M55,32H45c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S55.6,32,55,32z"></path>
                                        <path d="M55,36H45c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S55.6,36,55,36z"></path>
                                        <path d="M55,40H45c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S55.6,40,55,40z"></path>
                                        <path d="M55,48H45c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S55.6,48,55,48z"></path>
                                        <path d="M55,44H45c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S55.6,44,55,44z"></path>
                                        <path d="M27,42h10c0.6,0,1-0.4,1-1s-0.4-1-1-1H27c-0.6,0-1,0.4-1,1S26.4,42,27,42z"></path>
                                        <path d="M27,46h10c0.6,0,1-0.4,1-1s-0.4-1-1-1H27c-0.6,0-1,0.4-1,1S26.4,46,27,46z"></path>
                                        <path d="M37,48H27c-0.6,0-1,0.4-1,1s0.4,1,1,1h10c0.6,0,1-0.4,1-1S37.6,48,37,48z"></path>
                                    </g>
                                </svg>
                    </div>
                    <div class="svginnerdivtext">
                        <div class="svginnerdivsalignment" >MUMBAI</div>
                        <div style="margin-left: 3px;font-weight: bold">
                            23 Alumni
                        </div>
                    </div>  </div>
                <!--<div class="col-12 m-4 p-2"><div class="row justify-content-center p-2"> <div class="col-6 col-sm-4 btn btn-info">Search Alumni By Map</div></div> </div>-->
            </div>
        </div>
    </div>
</div>