.header-container-div{
    height: auto;
    transition: 2s;background-color:  #bc0404; opacity: 1; border: none;z-index: 10;
    position: relative;
    min-height: 50px;
}
#scrollingdiv{
    display: none;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 2.5px;
    color: black;
    text-decoration: solid line-through green;
    text-outline: forestgreen 1px;
    font-family:  Helvetica, sans-serif,"Monotype Corsiva","Times New Roman",Roboto,Jokerman;
}
/*It is a ul for nav bar*/
#upperheaderlist{
    float: left;
    list-style-type: none;
    color: black;
    padding-left: 40px;
    width: 400px;
    margin-left: 40px;
    margin-bottom: 3px;
}
#upperheaderlist li{
    height: 35px;
    text-align: right;
    display: inline-block;
    width: 40px;
    font-size: 18px;
    color: white;
}
#headerinputbox{
    transition: 1s;

}
#headerinputbox input{
    border: none;
    border-bottom: 1px solid whitesmoke;
}
#headerinputbox input:focus{
    outline: none;
}
.navigationbar-heading{
    color: white;
    font-size: 18px;
    padding: 2px;

}
.navigationbar-heading:hover{
    color: darkblue;
}
.navigationbar-heading a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 1.5px;
}
.side-menusetts{
    transform: translateX(20px);
    background-color: rgba(0,0,0,0.9);
    width: 0;
    color: gray;
    position: fixed;
    transition: 2s;
    overflow: hidden;
    top: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    right: 0; height: 100%;z-index: 10; box-shadow: 0 5px 2px 3px rgba(0,0,0,0.3)

}
.side-menuinnerdiv-heading{
    color: white;
    letter-spacing: 1.5px;
    font-weight: bold;
    word-spacing: 3px;
    padding: 8px 5px;
    font-size: 22px;
    margin-top: 15px;

}
.innerdiv-subheadings{
    padding: 5px 10px;
    font-size: 18px;
    letter-spacing: 1px;

}
#side-div-ul{
    margin: 2px;
    padding: 3px;
    display: block;
    width: auto;
}
#side-div-ul ul{
     padding: 3px;
 }

#side-div-ul li{
    list-style-type: none;
    padding: 3px;
}
#side-div-ul li a{
    padding: 4px;
    text-decoration: none;
    color: inherit;
}
#side-div-ul>li li:hover{
    border: 1px solid rgba(0,0,0,0.1);
    background-color: white;
}
#side-div-ul>li{
    font-size: 20px;
    font-weight: bold;

}
#side-div-ul ul li{
    font-size: 17px;
    font-weight: normal;
}
.googlecolor{
    color: white;
    background-color: #dd4b39;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: inset 0 1px 0 0 rgba(111,138,194,0.92)
}
.card-img-settings{
    border: 2px solid white;width: 120px;height: 120px;border-radius: 100px;
}